[2017-12-14 18:00] Suzal3579 commented on #1062
@remy thank you, works great now 👍

[2017-12-14 18:00] remy commented on #1162
Or even better, can you post up the minimal project (ideally `package.json` + `index.js`) to a gist?

[2017-12-14 18:01] remy commented on #1157
Related (I believe) to #916

[2017-12-14 18:30] remy commented on #1062
@roosoft please file a new issue with full details and if possible a PR with resolution.

[2017-12-14 18:35] remy commented on #794
I'm closing this issue as a) there's a workaround and b) the solution seems to be fairly well defined - so now it's just waiting on a pull request (with tests).

[2017-12-14 18:35] #794 closed

[2017-12-14 18:36] remy commented on #1164
Can you reduce the package down until you've got the minimum replicable case?

[2017-12-14 18:42] RooSoft opened #1165 "Cannot use chrome debugger with nodemon v1.12.7 (latest)"
- `nodemon -v`:
1.12.7

- `node -v`:
v8.9.0

- Command you ran:
`nodemon --inspect index`

### Expected behaviour
Chrome debugger activates and allows step-by-step debugging of the executing node app

### Actual behaviour
Chrome debugger doesn't work.... it does though when replacing `nodemon` by `node`. Used to work flawlessly weeks ago. In fact, that tool was a very important part of my toolset,

[2017-12-14 18:52] RooSoft commented on #1165
Works with 1.11.1, reverting to that version for now...

[2017-12-14 18:56] RooSoft commented on #1165
Tried every version up until the 1.12.7 just to find out where this issue started appearing...

Well, I am glad to say that I cannot reproduce that problem anymore. It works in every version I have tried.

Makes me wonder why...

[2017-12-14 19:28] RooSoft commented on #1165
Reboot... back to non-working state...

[2017-12-14 19:41] remy commented on #1165
OS? I was testing this last night on Mac and .7 patch was to fix this precise issue…

[2017-12-14 20:31] RooSoft commented on #1165
MacOS Sierra 10.12.6

[2017-12-14 21:01] remy commented on #1165
Here's what I'm getting with nodemon@1.12.7:

<img width="898" alt="screen shot 2017-12-14 at 21 00 39" src="https://user-images.githubusercontent.com/13700/34014113-e253b6dc-e111-11e7-944f-94c288d71adc.png">

Based on this setup: https://gist.github.com/remy/968b8937a153127cfae4a173b6000c1e

Can you share a similar screenshot of what you're seeing?

[2017-12-14 21:03] RooSoft commented on #1165
Using `--inspect`, not `--inspect-brk`, as is the new method in Node 8+ as far as I'm concerned..

[2017-12-14 21:04] remy commented on #1165
Same thing:

<img width="890" alt="screen shot 2017-12-14 at 21 04 20" src="https://user-images.githubusercontent.com/13700/34014242-5f271258-e112-11e7-80ba-6a3c94e95d33.png">

It's just my index.js tries to log and exits immediately.

[2017-12-14 21:05] #828 closed

[2017-12-14 21:06] remy commented on #882
edit: can you try with nodemon@latest (currently 1.12.7)

[2017-12-14 21:07] tanyaYourchuck commented on #1109
@vapurrmaid yes, I'm using git bash, but using a gulp task to launch the process rather than npm script. In my env with nodemon v1.12.5, ctrl + c did not hang, it returned to prompt but left the node process running (thus still using the port). This was fixed with nodemon v1.12.6.

I tried to run the gulp task in an npm script. Then I observed same as you describe, ctrl+c just hung.

[2017-12-14 21:08] RooSoft commented on #1165
[code]

no `Debugger listening` message...

a think I am figuring out though... the command includes an `index.js` between `node` and `--inspect` which seems wrong...

[2017-12-14 21:10] remy commented on #1165
Can you share a paired down version of your package and index.js in a gist? Similar to this: https://gist.github.com/remy/968b8937a153127cfae4a173b6000c1e - it'll help me understand what's going on (I suspect it's linked to how nodemon is reading your package)

[2017-12-14 21:12] RooSoft commented on #1165
not using package.json for this, issuing the command by hand in the command line... literally typing `nodemon --inspect index`. not sure what the index.js could do to alter nodemon's work.

[2017-12-14 21:15] reesmanp commented on #882
@remy The most recent version does fix this. It restarts properly of `rs` and on file change. Thanks.

[2017-12-14 21:18] remy commented on #1165
Got it (and am able to replicate).

For now, the work around is `nodemon --inspect index.js` (not `index`). Nodemon isn't expanding out the `index`. I'm not 100% sure it should either - I appreciate node _does_ but nodemon isn't entirely bound to node as the exec.

Need to think whether this is a bug or a documented design decision.

[2017-12-14 21:19] RooSoft commented on #1165
Yup, it works! Thanks remy!

[2017-12-14 21:23] RooSoft commented on #1165
I believe I will not be the only one trying to use nodemon that way...

[2017-12-14 22:33] remy commented on #882
👍

[2017-12-14 22:33] #882 closed

[2017-12-14 23:00] remy commented on #760
Sorry folks, but this thread has become awfully confused. I'm going to close it and if anyone still has a specific issue (and can create a replicable example with a gist containing files required), then please go ahead and open a new issue and I can (or you - please do contribute) attempt a PR.

[2017-12-14 23:00] #760 closed

[2017-12-14 23:31] remy commented on #350
I believe this is also fixed with nodemon@1.12.7 and the recent `fork` support. Happy to reopen (or create a new issue if not).

[2017-12-14 23:31] #350 closed

[2017-12-14 23:33] remy commented on #185
All live in latest nodemon (in nodemon@1.x - I pushed a workaround for node@4 which uses spawn).

[2017-12-14 23:33] #185 closed

[2017-12-15 01:13] heisian commented on #185
@remy Okay. Looking at the `child_process.fork` history, the `stdio` option was only introduce in `v6.4.0`, so that may be the reason.

[2017-12-15 03:22] wangerniu commented on #1109
facing the smae

nodemon 1.12.4
Windows 10 OS
git 2.15.0
node 8.9.0
npm 5.5.1

em...

i has been resolved in 1.12.6,so,uninstall it  and reinstall one later than 1.12.6

[2017-12-15 08:45] #1165 closed

[2017-12-15 08:46] #393 closed

[2017-12-15 08:46] #461 closed

[2017-12-15 08:51] remy commented on #1159
I'm not 100% sure you want to pipe to stdin, but with nodemon@1.13.0 you can send a `SIGHUP` to nodemon and it trigger a restart. I'm going to close as I believe this is a workaround that _I think_ you're after. Happy to reopen if not.

[2017-12-15 08:51] #1159 closed

[2017-12-15 10:05] remy commented on #813
@simpss I've been testing this out more and I'm pretty certain the issue is between nodemon the Docker build (`debian:stretch`) and the [kill command found here](https://github.com/remy/nodemon/blob/14fcf944042600d18974ebe911ae26fef09a2238/lib/monitor/run.js#L306)

I don't really know enough about what goes on under the hood with processes and kill signals, but I need to add a local change that wi

[2017-12-15 11:14] Tjomas opened #1169 "TypeError: Path must be a string. Received null"
- `nodemon -v`: 1.13.0
- `node -v`: v8.9.1
- Operating system/terminal environment: Docker
- Command you ran: nodemon --legacy-watch --on-change-only --verbose

The proccess exits directly after first start.

[nodemon] 1.13.0
[nodemon] reading config /app/nodemon.json
[nodemon] to restart at any time, enter `rs`
[nodemon] or send SIGHUP to 16 to restart
[nodemon] ignoring: .git .nyc_output .sass-c

[2017-12-15 11:27] martin-dimitrov13 commented on #1169
Same here.

[2017-12-15 13:41] simpss commented on #813
As I understand, It's failing because `kill` command doesn't exist on the minimal system and can be worked around by installing `procps`.

From my point of view if there's no way to kill a process without the `kill` command. It would be enough to handle the failure and just log it out as a warning.

Something like: "'kill: command not found', so you have procps installed?"

[2017-12-15 13:56] remy commented on #813
I've dug a lot deeper and found the root cause now.

It's basically this: https://nodejs.org/dist/latest-v8.x/docs/api/child_process.html#child_process_subprocess_kill_signal (read from "Also note: on Linux").

I've got a working solution that I'm merging into nodemon right now: https://github.com/remy/pstree

[2017-12-15 14:02] remy commented on #763
Going to close this issue as it looks like (reading through all the comments) that the latest nodemon fixes this as it's using the latest `fsevents` (via `chokidar`).

Happy to reopen or create a new issue if we think something is still playing up.

[2017-12-15 14:02] #763 closed

[2017-12-15 14:14] remy commented on #1169
Merged and will be auto-released live in nodemon@1.13.1

[2017-12-15 14:14] #1169 closed

[2017-12-15 15:07] #813 closed

[2017-12-15 15:23] mstellaluna commented on #1062
I am currently having this issue also, inspect is loading but its not stopping at the debugger; specified in one of my required files that my main app.js file reads from

[2017-12-15 15:42] remy commented on #1062
@mstellaluna you've commented on a closed issue, but I've just tried the same thing and working…but you've not really included much information to replicate fully.

Here's windows 10 for me:

![nodemon-inspect](https://user-images.githubusercontent.com/13700/34049220-7fbca02c-e1ae-11e7-9e52-1db5de54bc87.PNG)

[2017-12-15 16:41] art32 commented on #1169
I updated ```nodemon``` but the error remained. ```"nodemon": "^1.13.1"```

```nodemon --exec "./node_modules/.bin/flow-remove-types -d build src && node" --watch src --verbose build/index.js```

The first launch is successful, but when I update any file the nodemon falls.
```TypeError: Path must be a string. Received null```

[2017-12-15 16:56] remy commented on #1169
@art32 can you include a full stack trace so I don't have to guess the line number? Or a PR would be awesome too. The change definitely fixed a problem, but it's possible that a similar block of code is sneaking through too.

[2017-12-15 18:48] uluhonolulu opened #1172 "Can't install nodemon"
Windows 7, node v8.9.1, npm 1.4.9. Running `npm install -g nodemon` failed, saying it cannot find `remy/pstree`.

Here's the console output:
npm install -g nodemon
npm http GET https://registry.npmjs.org/nodemon
npm http 304 https://registry.npmjs.org/nodemon
npm http GET https://registry.npmjs.org/es6-promise
npm http GET https://registry.npmjs.org/debug
npm http GET https://registry.npmjs.org/ig

[2017-12-15 20:04] aautio opened #1173 "Nodemon 1.13.2 crashes, but 1.13.1 did not. Warning of memory leak."
- `nodemon -v`: 1.13.2
- `node -v`: 8.7.0
- Operating system/terminal environment: Mac OS X
- Command you ran: nodemon demo.js

The latest version 1.13.2 seems to introduce a bug that causes instant crashes with nodemon. I tried the older version 1.13.1 and it does not contain any problems.

Once nodemon has crashed 22 times, I see an error message:

[code]

### Steps to reproduce

Install version

[2017-12-15 20:19] aautio commented on #1173
Here is an even more easy version to reproduce the problem. Run a script like this with nodemon 1.3.2:

[code]

... and nodemon crashes if you try to save any changes to the file. Here is information from `--dump`:

[code]

[2017-12-15 20:45] ptshih commented on #1173
Also happening to me, but I think you mean version `1.13.2` not `1.3.2`

[2017-12-15 21:09] aautio commented on #1173
@ptshih yeah good catch - I was trying to type `1.13.2` but it ended up as `1.3.2` multiple times :)

[2017-12-15 21:12] vcarl commented on #1164
Minimal repro: https://github.com/vcarl/nodemon-bug

[code]

I found this issue while trying to hunt down why nodemon was reliably crashing every other restart on my brand new express app. nodemon is pinned to `1.13.2`

[2017-12-15 22:29] yogain123 commented on #1091
Apparently, the issue still persists with new updates.
I downgraded to 1.10.0 and its working fine

[2017-12-16 00:33] remy commented on #1164
@vcarl your bug is unrelated to this particular issue, but *is* related to #1173.

Just to confirm: still waiting on an example for this window bug.

[2017-12-16 00:34] remy commented on #1173
Acknowledged - new bug in 1.13.2 - not present in 1.13.1. Suspect the new `pstree` logic.

[2017-12-16 00:57] remy commented on #1172
Please update npm to 5 (npm v1 doesn't have scoped package support…not quite sure how you managed to keep on latest node and be on super old npm! 😺 )

[2017-12-16 00:57] #1172 closed

[2017-12-16 01:16] stoically commented on #34
Worked around the problem by using the `nodemon.json` (see full doc with `nodemon --help config`)

[code]

Not sure why this Issue is closed, should at least be open.

[2017-12-16 01:17] remy commented on #34
@stoically probably because the original issue was raised over 6 years ago and doesn't relate, in any way what so ever, to nodemon@1.13.x.

[2017-12-16 01:17] #1173 closed

[2017-12-16 01:17] remy commented on #1173
1.13.3 should fix.

[2017-12-16 01:21] remy commented on #1091
@yogain123 no real details included in your report, but I'm glad you have a work around 👍

[2017-12-16 01:38] stoically commented on #34
Well, you're right. The original problem (sending TERM to nodemon not killing the child) doesn't exist anymore in 1.13.2 (didn't updated for 2 weeks or something and hence didn't notice, oops).

The other mentioned problem in this thread still exists tho. When restarting after file change the child process is not killed (and does not receive SIGTERM).

Sorry for the tone and hijacking a 6 year old

[2017-12-16 01:59] stoically opened #1175 "Child process not receiving SIGTERM"
- `nodemon -v`: 1.13.2
- `node -v`: 8.7.0 (nvm: 0.33.5)
- Operating system/terminal environment: Ubuntu 16.04.3 / 4.4.0-104-generic / bash
- Command you ran: nodemon test.js

Hi,

thanks for your work on nodemon!

### Expected behaviour
The child process should receive SIGTERM and/or trigger the process.on exit event. Code that relies on these events is not triggered otherwise - e.g. killing child

[2017-12-16 03:54] vcarl commented on #1164
Ah excellent. Thanks for pointing me there.

[2017-12-16 06:11] stoically commented on #1175
After a bit of digging I found that it's [not possible](https://github.com/nodejs/node/issues/2853) to trigger the [process on exit event](https://nodejs.org/api/process.html#process_event_exit) using a signal.

Also, it's possible to configure nodemon to send the SIGTERM signal by putting
[code]
into the `nodemon.json` - although that won't help with code that relies on the process on exit event,

[2017-12-16 09:23] remy commented on #1175
I ran test.js using node, and ctrl+c to stop it, and there's also no exit notification:

<img width="516" alt="screen shot 2017-12-16 at 09 22 31" src="https://user-images.githubusercontent.com/13700/34069180-abab1e2c-e242-11e7-8231-be6257995a51.png">

Nodemon uses a signal that's least used to kill the child process, but you if you want to use `SIGTERM` you can (either through config or the CLI).

[2017-12-16 09:23] #1175 closed

[2017-12-16 10:25] stoically commented on #1175
Just to clarify what's actually the problem: under some circumstances child processes stay alive after the "file change restart" triggers. The child processes die when doing a ctrl+c tho. I couldn't reproduce with a simple nodejs child - in this case it works just fine, but in case you want to reproduce it yourself:

Disclaimer: granax downloads and starts [Tor](http://torproject.org/)
[code]

tes

[2017-12-16 10:26] art32 commented on #1169
[code]

[2017-12-16 10:29] remy commented on #1175
Can you retest with the latest nodemon release - there's been a slew of recent fixes I've released, and one in particular is for linux environments.

[2017-12-16 10:30] stoically commented on #1175
I've tested with the latest 1.13.3

[2017-12-16 10:57] remy commented on #1175
Okay, so I can see what's going on here.

* Nodemon spawns a process (node) which is restarted when code changes.
* This particular example code spawns a new process under the node process (tor.real)
* When a file change is detected, nodemon sends a SIGUSR2 to the full process group (individually)
* USR2 is normally good enough to kill a process, but tor.real will ignore the signal, so it remains

[2017-12-16 11:05] remy commented on #1169
@art32 can you use the latest nodemon (currently 1.13.3)

[2017-12-16 11:06] art32 commented on #1169
@remy i use 1.13.3 )

[2017-12-16 11:07] remy commented on #1169
@art32 you're using 1.13.0:

<img width="508" alt="screen shot 2017-12-16 at 11 06 59" src="https://user-images.githubusercontent.com/13700/34069851-4574655a-e251-11e7-8edd-09727018da4a.png">

[2017-12-16 11:11] art32 commented on #1169
@remy oh sorry, indeed I used an old version installed globally... The problem was solved.
 Thank you!

[2017-12-16 11:32] stoically commented on #1175
Thanks for looking into it. Can confirm that it works with `node --signal SIGTERM`, cool!

Just for my understanding: is there a reason you don't send SIGTERM per default to the childs? After a little research it seems that USR2 is defined as "user defined signal" - so it could mean everything depending on the process (e.g. unicorn [reexecutes the binary](https://bogomips.org/unicorn/SIGNALS.html)

[2017-12-16 12:01] remy commented on #1175
Yeah, like I said, there *was* a reason, but it was such a long time ago the thought through justification escapes me.

I'd like to look at this more, but I don't want to dig in too deep this weekend (should be with my kids). I have a gut feeling that a SIGTERM could be worth swapping to, but I've not thought through the full impact.

[2017-12-16 12:05] stoically commented on #1175
Alright, yeah, somehow I missed the part explaining the why, sorry. Thanks for your time so far and a nice weekend to you and your kids! :)

[2017-12-16 19:41] remotezygote opened #1176 "App cleanly exits but does not restart"
- `nodemon -v`: `1.13.2`
- `node -v`: `v9.2.0`
- Operating system/terminal environment: OSX High Sierra, Terminal.app, zsh
- Command you ran:
`yarn start` where my `start` script is `nodemon | pino-colada` (works the same without the piped output to `pino-colada`, but is less intelligible. I have also tried this with the `-L` flag, and that seems to have no effect. I am guessing I am missing somet

[2017-12-16 19:47] remotezygote commented on #1176
Also worth noting, if I don't add the `signal` config option, I don't get a clean signal to the script - I am trapping signals with the following code, and none of it runs unless I specify to signal to use:

[code]

[2017-12-16 19:51] remotezygote commented on #1176
Also also, if I follow the instructions [here](https://github.com/remy/nodemon#controlling-shutdown-of-your-script) and do:
`process.kill(process.pid, 'SIGUSR2')`
I get this message at the end instead of the clean exit one, but it still does not restart:
`[nodemon] app crashed - waiting for file changes before starting...`

[2017-12-16 20:21] remotezygote commented on #1176
I have now taken out all the signal handling code and am using `http-graceful-shutdown`, but getting the same result. I make a change, it shuts down cleanly but doesn't restart. Make another change, it starts again, then another change, it shuts down but no restart.

[2017-12-16 20:25] remotezygote commented on #1176
I just walked versions back by minor, and when I got back to `1.11.0`, it started working perfectly.

[2017-12-16 20:34] mstellaluna commented on #1062
@remy sorry I apologize I didn't notice it was closed as other were commenting as of recent.

[2017-12-16 22:21] remy commented on #1176
Can you try with 1.13.3? There was a process kill change in .2 that was fixed in .3 - it's possible it's that.

Otherwise, can you provide a package.json + index.js via a gist to replicate with?

[2017-12-16 22:33] remy commented on #1176
(sorry, I see you have your package there already, and I suspect the example file you included is enough - can you just give it a test with the latest build?)

[2017-12-18 07:57] dominykas commented on #749
I do believe this is the same as #916 - `nodemon` is being run inside a folder which has `node_modules` a couple of levels up the path, i.e. the overarching theme is that if the parent folder contains a name which is ignored by default - all changes are ignored.

[2017-12-18 07:59] dominykas commented on #1157
I believe the `@` in the path is unrelated - the clue is in `cd /Users/me/projects/dev/node_modules/` - `node_modules` is ignored by default and so the whole path gets ignored, so yes - I'd say this is the same issue as #916.

[2017-12-18 08:15] dominykas commented on #1157
Verified by [overriding ignored folders](https://github.com/remy/nodemon/blob/master/faq.md#overriding-the-underlying-default-ignore-rules) - the `@` has no effect, but `node_modules` does.

@gerhardcit can you please confirm if `nodemon` watches things correctly when the folder with an `@` in the name is in a path which does not contain `node_modules`, while the fix is being worked on?

[2017-12-18 08:30] remy commented on #1076
@rhernandog can you give this a test with latest nodemon@1.13.3? I think I found this in the code and fixed it (not sure how it broke, but I was able to replicate the issue with a single dir and then this latest build fixes it).

[2017-12-18 08:32] dominykas commented on #916
A workaround while the fix is being worked on is to [override default ignored folders](https://github.com/remy/nodemon/blob/master/faq.md#overriding-the-underlying-default-ignore-rules), e.g. place the below in `nodemon.json`:

[code]

The above keeps the current defaults, but excludes `.git`.

[2017-12-18 09:33] dominykas commented on #690
This bug is caused by `is-glob@2.x` (used by `chokidar > anymatch > micromatch`) - it treats all `!` characters as glob characters, whereas only the leading `!` should be considered a glob. It seems to be fixed in `is-glob@4.x` - https://github.com/micromatch/is-glob/blob/master/index.js#L25 (although I'm still not sure how it would deal with folders that actually start with a `!`).

`micromatch@3

[2017-12-18 09:39] dominykas commented on #743
Seems to be fixed in v1.13.3 - I ran with `--ext '.'`. nodemon restarted with updating `README.md` and `index.js`.

[2017-12-18 09:50] dominykas commented on #690
anymatch already has a PR open: https://github.com/es128/anymatch/pull/23

[2017-12-18 10:00] dominykas commented on #743
It still won't restart on extension-less files, e.g. `README` - not sure if that's something `nodemon` needs to support?

[2017-12-18 10:05] remy commented on #743
Shouldn't the "all" ext be `*` not `.` and then that matching rule updated for a special case? That said, it's straight forward to support both of these "special" rules in `match.js`

[2017-12-18 11:53] 4sh3 commented on #1176
Same error with nodejs 6.0.0, when I save the file is not restarting the nodemon execution, but remains active in the console without reload.

[2017-12-18 11:55] dominykas commented on #743
It does currently work with with both (`*` and `.`), but only if the file has an extension. However that is due to a side-effect, I think: https://github.com/remy/nodemon/blob/master/lib/config/exec.js#L177-L184. This code essentially removes any `*` (why? all tests still pass if I remove) characters, and then strips the leading `.`, which essentially makes `ext` an empty string.

Because it curre

[2017-12-18 12:32] remy commented on #1176
@4sh3 can you confirm nodemon version?

[2017-12-18 14:17] Tjomas commented on #1159
Thank you. Works perfect!

[2017-12-18 14:44] dominykas commented on #1163
I was able to reproduce with nodemon@1.12.6 - it seems to work with latest nodemon (1.13.3).

[2017-12-18 14:54] dominykas commented on #1036
I am able to reproduce odd behavior with the `readline` example code from node docs:
[code]

Behavior:

* When running with `node`, this exits after it receives an answer.
* When running with `nodemon` it seems to receive the answer, but does not exit. It also accepts `rs` to restart.
* When running with `nodemon -I` it seems to not receive the answer

[2017-12-18 16:21] ozette commented on #1124
This issue still persists with npm version 5.1.1 and stable node.
The FAQ suggestion would still yield _Cannot find module 'internal/util/types_
The only thing which worked in my case was to fall back to an earlier node version (6.3.1), use npm that comes with it (3.10.3) to install any dependencies and forward back to the stable.

[2017-12-18 16:44] pensierinmusica commented on #750
@remy sounds good to me:

Unfortunately a bit overwhelmed at the moment for a pr...

[2017-12-18 16:45] remy commented on #1124
Don't we think this is an issue with npm?

On Mon, 18 Dec 2017, 16:21 Joey Toppin, <notifications@github.com> wrote:

[2017-12-18 16:52] rhernandog commented on #1076
@remy Thanks I'll update the package and let you know how it went.

[2017-12-18 18:32] jonreader commented on #1176
@remy

I'm getting what seems to be the same issue.

The standard `rs` command also does not work.

**OS:** MacOS Sierra (10.12.6)
**Node:** 6.0.0
**Nodemon:** 1.13.3

[2017-12-18 19:14] remotezygote commented on #1176
Tried it with `1.13.3` - no better. It works perfectly in `1.11.0` but nothing after that.

[2017-12-18 23:55] akhilshastri opened #1180 "npm install is not working for @remy/pstree": "^1.1.0"
- Does the bug occur on [latest nodemon](https://github.com/remy/nodemon/releases)? **Yes**
- `nodemon -v`: **i m using gulp-nodemon@2.2.1**
- `node -v`: **8.x**
- Operating system/terminal environment: **windows 7 (64-bit)**
- Command you ran: **npm install gulp-nodemon@2.2.1**

### Expected behaviour
It should install gulp-nodemon

### Actual behaviour
yarn is saying "Could not find package @rem

[2017-12-19 15:10] udaykiranvasireddy commented on #1172
We have the same issue with node versions 8 and 6, npm version 5.6.

[2017-12-19 15:25] krumax commented on #1180
same here on installing swagger via npm, Ubuntu 16.04

[2017-12-19 15:26] uluhonolulu commented on #1172
@remy thanks, removing the old version of npm did it!

[2017-12-20 02:19] svb007 commented on #1172
@remy Getting similar error when installing nodemon :
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'install', 'nodemon@^1.9.2' ]
2 info using npm@5.3.0
3 info using node@v6.12.0
4 verbose npm-session 95dc948f76b98c70
5 silly install loadCurrentTree
6 silly install readLocalPackageData
7 http fetch GET 304 http://npm.chc.tlocal/nodemon 727ms (from cache)
8 si

[2017-12-20 05:46] flrogerw1962 commented on #894
I am seeing this in 1.13.3.  Rolled back to 1.12.5... fixed the issue.

[2017-12-20 06:57] hkeio opened #1181 "Recognizes file change but won't restart @1.13.3"
- Does the bug occur on [latest nodemon](https://github.com/remy/nodemon/releases)?
Yes
- `nodemon -v`:
[code]
- `node -v`:
[code]
- Operating system/terminal environment:
OSX High Sierra 10.13.2 (17C88)
- Command you ran:
[code]

nodemonConfig in package.json:
[code]

My npm scripts:
[code]

### Expected behaviour
Nodemon should restart the build and my application

### Actual behaviour
Recognize

[2017-12-20 07:10] jaydenseric opened #1182 "Server infinitely restarts without --ext mjs"
- Does the bug occur on [latest nodemon](https://github.com/remy/nodemon/releases)?  Yes.
- `nodemon -v`: v1.13.3
- `node -v`: v8.9.3
- Operating system/terminal environment: macOS 10.13.2, VS Code integrated terminal.
- Command you ran:

[code]

[code]

### Expected behaviour

The server starts once, and listens for changes.

### Actual behaviour

Server starts, then infinitely restarts "due to c

[2017-12-20 09:28] remy commented on #1182
Can you provide a gist with a sample package.json and main script to help replicate?

[2017-12-20 09:30] remy commented on #1182
Oh, can you also screenshot the output with the `--verbose` flag on so I can see what's triggering the change?

[2017-12-20 09:31] jaydenseric commented on #1182
You can see it in action by cloning and npm installing, and running [this example API](https://github.com/jaydenseric/apollo-upload-examples/blob/master/api/package.json#L35) with and without the flag.

[2017-12-20 11:35] remy commented on #1180
I'm going to rename the @remy/pstree module and push a fix release today.

[2017-12-20 12:49] remy commented on #1176
Okay, I think I've got to the bottom of this, but it's down to how you're handling the signal inside your own script.

When your script handles the signal, it still needs to exit, but it needs to exit with a signal that nodemon can respond to. Since your original code was exiting with `process.exit(0)` nodemon reads that as "the script ran and exited cleanly" - hence why it's waiting for changes.

[2017-12-20 12:49] #1176 closed

[2017-12-20 12:51] remy commented on #1181
Acknowledging this bug. I've seen this `[nodemon] matched rule: **/Users/heiko/Sites/ms-fileservice-ts/services/**/*` be a problem in another issue - specifically the leading `**/` part. Will try to ship a fix as part of today's releases.

[2017-12-20 12:54] remy commented on #1163
Acknowledge. I'm able to replicate with 1.12.6, but since fixed in latest. Thanks for confirmation @dominykas 👍

[2017-12-20 12:54] #1163 closed

[2017-12-20 13:00] remy commented on #1182
@jaydenseric as I suspected, running with `--verbose` shows that there's a file that's constantly changing causing the restart:

<img width="953" alt="screen shot 2017-12-20 at 12 57 31" src="https://user-images.githubusercontent.com/13700/34208200-682a31ce-e585-11e7-9e60-ae1dd6a272ed.png">

I don't know how your code (or deps) work, but I suspect that there's something touching `db.json` upon sta

[2017-12-20 14:09] #1180 closed

[2017-12-20 14:09] #749 closed

[2017-12-20 14:09] #1181 closed

[2017-12-20 14:29] remy commented on #1076
@rhernandog can you test with nodemon@1.14.0? I've pushed a change that fixes (some) directory watching problems.

[2017-12-20 14:56] remy commented on #743
Live in nodemon@1.14.0

[2017-12-20 14:56] #743 closed

[2017-12-20 22:10] hkeio commented on #1181
Unfortunately its not fixed completely. I added my project here: https://github.com/hkeio/fileservice
To reproduce clone and run `npm i && npm start`.

If you change something in `app.ts` it works fine. Changing something in `service/file.service.ts` does not. At startup it shows:
[code]

On changing the file it still shows the leading `**/`

[code]

[2017-12-20 22:58] remy commented on #1157
Pretty sure #1186 when deployed will fix this particular issue.

[2017-12-20 23:21] #1036 closed

[2017-12-20 23:21] #916 closed

[2017-12-21 02:33] jaydenseric commented on #1182
Thanks, good pickup. But I did your suggestion and the server would not restart on changing .mjs files.

Using `--verbose` mode, it seems only `js,json` are being watched:

<img width="806" alt="screen shot 2017-12-21 at 1 32 26 pm" src="https://user-images.githubusercontent.com/1754873/34237966-7834f27e-e653-11e7-8f0f-82c37282c24f.png">

I thought `.mjs` was meant to now be a default watch extens

[2017-12-21 02:37] jaydenseric commented on #1182
It looks like it was mistakenly added only for coffee?

https://github.com/JayBeavers/nodemon/blob/master/lib/config/exec.js#L141

[2017-12-21 07:28] remy commented on #1182
Sod, yeah I saw that in the PR too but didn't quite put it together. Do you want to send a PR to fix? Suspect the change is in defaults.js

[2017-12-21 09:41] ImLoaD commented on #749
I had the same problem on nodemon 1.12.5.
Mac OS 10.13.1, Node@8.9, npm@5.5.1, No dropbox installed, No 'git' string in directory name and project name
but folder i work named 'Admin beta (system)'

Upgrade to nodemon 1.4.1 solved then problem

[2017-12-21 09:55] remy commented on #1182
Turns out the change isn't in defaults.js, but if you search through the code you'll find where it sets is,json as the default

[2017-12-21 09:56] remy commented on #1182
I'm going to (re)close this issue as the original issue is addressed. But please go ahead and raise a new issue with the default not watching mjs

[2017-12-21 09:56] #1182 closed

[2017-12-21 09:58] remy commented on #1157
Live in nodemon latest.

[2017-12-21 09:58] #1157 closed

[2017-12-21 10:02] remy commented on #1162
Ping or is this idle and (implied) fix is already live? I'd like to close in the next 24 hours otherwise.

[2017-12-21 12:11] #1162 closed

[2017-12-21 12:11] #1164 closed

[2017-12-21 13:44] a7madgamal commented on #656
one example would be code that uses a list of files/folders. this doesn't require a code change but does need a restart to be detected. thats probably what I had 2 years ago but honestly I don't even remember lol
Merry christmas 🎄

[2017-12-21 15:36] remy commented on #690
@jdoose I believe your particular problem is fixed on Windows as nodemon now by default disables globbing (which is why I'm closing the original issue).

Equally, I can't replicate this at all on Windows… I've used both git bash and the command prompt with and older version of nodemon:

![nodemon-bang](https://user-images.githubusercontent.com/13700/34262468-60b324fc-e664-11e7-854a-b8eaf7074a80.pn

[2017-12-21 15:36] #690 closed

[2017-12-21 22:11] nikitabe opened #1187 "Windows 10 Ubuntu Subsystem - Files not monitored"
- Does the bug occur on [latest nodemon](https://github.com/remy/nodemon/releases)? Not sure.
- `nodemon -v`: 1.14.1
- `node -v`: v6.1.0
- Operating system/terminal environment: Windows 10, Ubuntu Subsystem
- Command you ran: nodemon

### Expected behaviour
Site reloads

### Actual behaviour
No activity

### Steps to reproduce
Run nodemon
Edited file using Visual Studio Code (located on /mnt/d/fol

[2017-12-21 22:55] remy commented on #1187
Can you provide a gist with a sample index.js and package.json and any nodemon configuration you're using?

Also, can you provide a screenshot of what you're seeing ideally with `--verbose` enabled.

Thanks in advance.

[2017-12-22 09:46] mikestopcontinues opened #1188 "Nodemon crashes on exactly every other file change."
### Expected behaviour

When I change a file, it should reload.

### Actual behaviour

Every exactly other time I change a file, I get this error:

[code]

On the following change, it reloads. (Note: change could be as basic as a `touch`.)

I tried increasing the delay, but it did nothing.

[code]

[2017-12-22 09:47] mikestopcontinues commented on #1188
The bug even occurs every other manual refresh via `rs`.

[2017-12-22 10:47] IGZgustavomarin opened #1189 "Remove promotional banner on postinstall"
I'm using `nodemon` since a long time. Suddenly it started to show this banner on every install:
[code]

I think that's not the purpose of the postinstall script. But aside from that, I have dozens of services and countless pipelines where this is being shown too many times.

*I consider this to be unnecessary SPAM.*

Is it possible to remove that promotion and just leave it in the README page ins

[2017-12-22 11:34] remy commented on #1187
@nikitabe ignore that this issue is closed, the bot is randomly aggressive with its closing (it was supposed to be 7 days!). Please go ahead and pop through more info so I can follow up.

[2017-12-22 11:36] remy commented on #1189
Thanks for your feedback. You use nodemon on dozens of projects you say? I assume you're supporting the project somehow? If not, I guess my method to promote the problem is working. Cheers.

[2017-12-22 11:36] #1189 closed

[2017-12-22 12:02] remy commented on #1188
Please upgrade to latest. Fix has already been deployed. Ta!

[2017-12-22 12:02] #1188 closed

[2017-12-22 13:17] mikestopcontinues commented on #1188
Thanks!

[2017-12-22 15:31] remy commented on #1187
Can't replicate.

![2017-12-22 1](https://user-images.githubusercontent.com/13700/34303437-38a7eb18-e72d-11e7-8f6c-b94282f845f6.png)

[2017-12-22 17:19] andrewjmead opened #1191 "Inspect not working"
- `nodemon -v`: 1.14.2
- `node -v`: 9.2.0
- Operating system/terminal environment: macOS
- Command you ran: `nodemon inspect app.js`

### Expected behaviour

I was expecting to see the same behavior as seen in v1.12.3 where it open the node inspect as if I ran `node inspect app.js`:

Here's the command and output from v1.12.3:

[code]

### Actual behaviour

The program executes normally and doesn'

[2017-12-22 18:05] remy commented on #1191
You might be the last person using `inspect` for the REPL based debugger (over using `--inspect`)!

Can you raise a PR to fix this? I'm pretty sure it's because nodemon uses `fork` instead of `spawn` which I _think_ is required to get `node inspect …` to work.

[2017-12-22 18:09] remy commented on #1076
This is working in the latest release. Please go ahead and upgrade ❤️

[2017-12-22 18:09] #1076 closed

[2017-12-22 18:41] remy commented on #750
@pensierinmusica got a PR on the go. Reckon it's good too 👍 😄

[2017-12-22 20:51] rhernandog commented on #1076
@remy Sorry I couldn't get back before.

Is working great with the latest update, thanks for the great work!!! :clap::clap:

[2017-12-22 22:32] remy commented on #1191
(please note - the PR that's linked to this issue is actually for a completely different issue - I just made a mistake in the commit message and github has linked them together).

[2017-12-22 22:34] #750 closed

[2017-12-23 01:17] bernardmcmanus opened #1193 "latest release (1.14.3) can't resolve path without extension"
- `nodemon -v`: __1.14.3__
- `node -v`: __8.9.0__
- Operating system/terminal environment: __Mac OSX 10.11.6 / zsh 5.2__
- Command you ran: `NODE_ENV=development ./node_modules/.bin/nodemon ./dev/server`

### Expected behaviour
`nodemon` starts the development server

### Actual behaviour
It appears to be falling back to `npm start` and recursively appending that command to the previous one. My `s

[2017-12-23 06:44] elmigranto opened #1194 "Watching extra files (or treating `-w <file>` as `-w <folder>`?)"
Hey, Remy and everyone working on nodemon 🖖
First of all, thanks for an awesome tool, been using it for as long as node and it's really helpful ❤️

<hr/>

- `nodemon -v`: `1.14.0`
- `node -v`: `v8.9.3`
- macOS; Terminal.app; fish 2.7.0.

### Command you ran

<details>

<summary>`env DEBUG=nodemon nodemon --verbose --watch mocha.opts --watch package.json --exec echo 123`</summary>

[code]

</detail

[2017-12-23 08:52] remy commented on #1193
Adding some more information:

1.14.2 actually has a bug. When I run `nodemon http`, it runs the following: `node http http.js` - i.e. it thinks there's no script and detects it.

[2017-12-23 08:55] remy commented on #1193
It also looks like there's a second issue going on here, whereby restarting is changing the command line exec (see "starting" in the comments above).

[2017-12-23 09:08] remy commented on #1194
Is it always one more? If it is, it's because nodemon _also_ watches (or tries to watch) the running script.

[2017-12-24 03:12] elmigranto commented on #1194
Not always +1. Sometimes I specify all 22 files as flag, it says it watches 293.

[2017-12-24 22:38] Darmikon commented on #1165
I've just updated nodemon to `"nodemon": "^1.14.3",` and
`"start": "cross-env NODE_ENV=development nodemon --inspect ./src",` it started working
`node -v
v7.8.0
` and `nodemon -v
1.14.3
`

[2017-12-26 15:22] roy7 opened #1195 "ECONNRESET on restarts"
- `nodemon -v`:
- `node -v`:
- Operating system/terminal environment:
- Command you ran:
[code]
### Expected behaviour
Restart app cleanly.

### Actual behaviour
[code]
### Steps to reproduce

I'm not sure how to further debug this to help provide some info back. It's also possible it's my own app and not nodemon. I used version 1.12.1 for a while and it would never restart any more when I changed

[2017-12-26 22:24] Airboy commented on #505
I encountered the same issue. This bug is not related to `nodemon` but to another dependency: `user-agent`. This later regenerates on the fly a file based on a remote database ([regexps.js](https://github.com/3rd-Eden/useragent/blob/master/lib/regexps.js)). Because of it and the way it is generated, nodemon restart in loop.

By using the verbose mode in my `nodemon.json`, I was able to find the re

[2017-12-26 22:40] arxpoetica commented on #505
@Airboy not following. What do you mean by "verbose mode"?

[2017-12-26 22:40] arxpoetica commented on #505
And what's the correct way to fix this problem?

[2017-12-26 22:44] Airboy commented on #505
You merely have to add the following option `"verbose": false` into your `nodemon.json` (config file for nodemon).

In this mode, nodemon should display the file causing its restart. I don't guarantee that you can quickly solve your problem, but it's a good start to find the cause of this issue.

[2017-12-26 22:47] remy commented on #505
A fairly common example of nodemon looping restarts is when the application creates a file during start-up that's caught be nodemon watch filters, which triggers a restart, and then the entire process goes into a loop.

Run `nodemon --verbose` and it will report what's restarting the process and why (so you can explicitly ignore that file or pattern).

[2017-12-27 04:24] nikitabe commented on #1187
Remy, sorry for the delay.  Here is a video of what's happening:

https://www.youtube.com/watch?v=3ZTpDNDAYfQ&feature=youtu.be

[2017-12-27 11:13] remy commented on #1195
Can you provide the test.js file too? Or a pared down version at least?

[2017-12-27 14:24] BigFax commented on #961
I tried on windows 8.1 pro today 27 dec 2017, not working.
Works directly when i remove the space from directory name containing the project ;)

[2017-12-27 14:54] roy7 commented on #1195
Could I send it to you privately somehow and not copy/paste the whole thing into here? Thanks.

[2017-12-27 16:34] remy commented on #961
@bigfax please test with latest nodemon (currently 1.14.3 IIRX)

[2017-12-27 16:35] remy commented on #1195
Sure, or strip it right down so that you've just got a replicable example.
Otherwise you can email me at remy@leftlogic.com

On Wed, 27 Dec 2017, 14:54 Jonathan Roy, <notifications@github.com> wrote:

[2017-12-27 17:49] BigFax commented on #961
@remy it works with last version 1.14.3.

[2017-12-27 21:26] remy commented on #1195
I've got your email and managed to get a version of the code running, but I had to guess at the versions of dependencies and obviously I don't have your external dependencies (like the network.gz file). I couldn't replicate the problem though.

I suspect the cause is that your server isn't fully shutting down (cleanly) before it's started again. One thing that might help narrow down the issue **is

[2017-12-27 21:29] remy commented on #1187
@nikitabe can you run a new test (in the ubuntu subsystem) using `nodemon --verbose` and just record (in plain text is fine) the output when a file is changed. Does nodemon see the change, but decide not to restart, or does nodemon just miss it entirely (as it appears to from your video)?

[2017-12-27 21:35] roy7 commented on #1195
I'll do some tests to see what I can come up with.

Actually since I've not been using nodemon the last day or two, I just started it up and then did a 'rs' after a second or two, then a second 'rs', and the 2nd crashed. When this happens, nodemon exists to the command line.

This was with

node node_modules/nodemon/bin/nodemon.js --watch test.js test.js >> log.test 2>&1

[2017-12-27 21:40] roy7 commented on #1195
If my program "normally" crashes, nodemon will wait for a file to change and then try to restart the program. But in this situation where the crash happens because nodemon is trying to restart the process, nodemon itself always exits to the command line and is no longer running.

[2017-12-27 21:46] roy7 commented on #1195
I copied the program over and ran it off a different port # to not interfere with the normal operation of things. If I just 'rs' over and over every few seconds, I can pretty much guarantee an eventual error as above. Is there any extra debugging options/flags I can set perhaps to help isolate with?

[2017-12-27 21:48] remy commented on #1187
Just a thought, but does running `nodemon -L` work instead? (this is _legacy_ watch mode).

[2017-12-27 21:52] roy7 commented on #1195
When it wants to cooperate:

[2017-12-27 21:57] roy7 commented on #1195
I tried adding longjohn to my script, but it made no difference. So instead I added longjohn to node_modules/nodemon/bin/nodemon.js and that changes the error message to:

[2017-12-28 19:34] remy commented on #1195
Bit of a shot in the dark, but can you try with `nodemon --no-update-notifier` and run the same process, and report back?

[2017-12-28 21:45] roy7 commented on #1195
node: bad option: --no-update-notifier

[2017-12-28 21:49] roy7 commented on #1195
I'm trying to find a better solution than longjohn to find the problem spot. Re: https://github.com/mattinsler/longjohn/issues/31.

[2017-12-28 22:04] roy7 commented on #1195
Adding the process.on() catch to nodemon.js itself does catch the error and lets things continue.

[2017-12-28 22:22] roy7 commented on #1195
I installed the debug package and run the script with DEBUG=*, not much more info but:

[2017-12-28 22:28] arxpoetica commented on #505
@remy yes, I've seen those problems happen before, and didn't equate the two. That was probably what was happening all along. False positive. Thanks.

[2017-12-28 22:47] roy7 commented on #1195
Comparing to restarts when it doesn't crash, the crash is between these two lines.

[2017-12-29 06:05] madhav1993 commented on #1118
Same error,
If You are a windows user having a 32bit system then try to use Node js cmd.
In my case, it's working.

[2017-12-29 09:10] YasharF commented on #1187
@nikitabe just a quick check, are you on a Slow Ring release, or a Fast Ring release Windows 10 by any chance, or are you on the latest production version of Fall Creator update (Windows 10 version 10.0.16299.125)?

[2017-12-29 09:31] remy commented on #1195
If you're comfortable editing the nodemon source to test, can you find `lib/monitor/run.js` and comment _out_ the line that reads `bus.emit('error', error);` - and re-run your tests?

[2017-12-29 10:54] #1194 closed

[2017-12-29 10:55] #1193 closed

[2017-12-29 11:07] #1191 closed

[2017-12-29 15:20] nikitabe commented on #1187
@remy

`nodemon -L` - same problem
`nodemon --verbose` - looks like it's missing the change entirely

@YasharF Looks like Creator Update (Windows 10, Version 1709, OS Build 16299.125)

[2017-12-29 16:53] remy commented on #1187
I'm starting to run out of ideas here. If you try an entirely new project with a single file, I presume you get the same issue? (I'm asking because I can't replicate at all at my end…sorry).

*Anyone else*: can anyone else replicate this issue?

[2017-12-29 22:14] YasharF commented on #1187
A few things to do or check:

1. I noticed that your original post states there is a slightly older version of NodeJS 6.x on the system.  Assuming that you can't upgrade to NodeJS 8.x, can you upgrade to the latest 6.x which is 6.12.2 right now in both NodeJS and WSL and confirm the upgraded versions in both sides with `node -v`?   https://nodejs.org/dist/latest-v6.x (the older versions also have

[2017-12-29 22:28] DABH opened #1202 "Nodemon tries to watch ignored folder -> error"
- `nodemon -v`: 1.14.6 (just upgraded from 1.12.1)
- `node -v`: 8.2.1
- Operating system/terminal environment: Debian/bash
- Command you ran: $ nodemon --exec ./node_modules/.bin/ts-node -P foo --harmony --ignore bad-folder -- ./foo.ts

### Expected behaviour

Runs without errors

### Actual behaviour

Gives error: `[nodemon] Internal watch failed: watch /home/bar/foo EACCES`

I have a folder `bad

[2017-12-30 01:14] roy7 commented on #1195
Taking that line out seems to make the error reproducible every time I enter 'rs'.

[2017-12-30 01:15] roy7 commented on #1195
Ok, not every time, but it seems very frequent now.

[2017-12-30 09:02] tomfun commented on #487
How to ignore a directory, but except some files, my attempt:
[code]

[2017-12-30 16:16] remy commented on #1202
Can you re-run with the addition of `-V` (verbose) and include the full output here? I'm specifically looking for what nodemon says it's ignoring:

[code]

[2017-12-30 16:19] remy commented on #1195
Can you test with nodemon@1.14.6 and when you capture the error, can you include the **full** output from the point when the command was started to when you were thrown back to the prompt (using 1.14.6). Thanks.

[2017-12-30 19:48] remy commented on #1202
In fact, can you also run the command with the `--dump` param and include the config info. It might reveal something different in the config to help debug (I tried to replicate locally quickly, but it didn't work - I suspect there's something slightly different that I missing).

[2017-12-31 10:03] remy commented on #1195
Okay, no clues…

Can you replicate using this as your script?

[code]

[2017-12-31 13:46] roy7 commented on #1195
Wow. Actually, yes!

[2017-12-31 14:04] remy commented on #1195
Okay, in this case, something very strange is afoot!

So that we can rule out a socket from the child process (the simple http server), can you try with the following script instead:

[code]

[2017-12-31 14:18] roy7 commented on #1195
Can't seem to get that one to crash. I also notice it now says:

[nodemon] clean exit - waiting for changes before restart

which the http server version never does. So maybe there's an issue/bug with the node http server not exiting cleanly/properly?

[2017-12-31 14:21] roy7 commented on #1195
I'm using Node 8.9.3 btw.

[2017-12-31 14:25] remy commented on #1195
Okay, I wonder if there's something special about the OS and the way nodemon is forking.

Can you try this command (with the http simple server code - where the filename is `b`):

[code]

[2017-12-31 14:26] remy commented on #1195
Note that running the command with `-x 'node b'` internally nodemon is using a spawn command rather than a fork. I doubt if this is the cause, but it'll help rule it out (again, I can't replicate this at all on my machine, hence why the needle/haystack hunt!)

[2017-12-31 14:35] remy commented on #1195
Okay…so, possibly the OS? Somehow? Are you running a Docker instance perchance? Otherwise I _might_ be able to write a Dockerfile to get the exact version of unix flavour you're using (though I'm not very good at writing those!)

[2017-12-31 14:42] roy7 commented on #1195
The server is running on a digital cloud provider, traceroute tells me it is www.hetzner.com. Any more info I can provide beyond uname -a?

Perhaps it's the older linux kernel or something.

[2017-12-31 14:56] gcp commented on #1195
It's Ubuntu 16.04 LTS on KVM.

[2017-12-31 15:41] remy commented on #1195
Okay, I'm now able to replicate using a Docker image using Ubuntu 16.04. I might be able to use this to iterate through a debugging process (finally!).

I'll post a gist with the files I'm using shortly.

[2017-12-31 16:16] remy commented on #1195
Okay, getting closer. If I comment out [this line](https://github.com/remy/nodemon/blob/master/lib/monitor/run.js#L260) it doesn't blow up. But I can't work out why and what needs cleaning up to ensure this can re-connect properly.

[2017-12-31 16:29] remy commented on #1195
Got it. Took a while, but managed to find the right stream to hook the error handle on. Once (hopefully) the tests pass, I'll merge into master and it'll be live on 1.14.7

And if you want to support the project, you can here 👉 https://opencollective.com/nodemon/donate 😃

[2017-12-31 16:43] remy commented on #1195
Though…for some reason Travis CI is taking its merry time…

[2017-12-31 18:53] roy7 commented on #1195
Thanks for digging into it enough to find and fix the problem! :) I sent in a small donation.

[2017-12-31 18:53] #1195 closed

[2017-12-31 20:18] remy commented on #1195
Don't know why it took so long, but it was released 5 minutes ago. Thanks again.

[2017-12-31 23:29] DABH commented on #1202
Thanks for taking a look!  Think I got a fix but fwiw here's the complete info:

[code]

As you can see from the log, by passing `--ignore bad-folder`, it was actually ignoring `bad-folder/**`.  However, if I pass `--ignore **/bad-folder`, it ignores what I want and there's no error.

However, in v1.12.1, the original ignore list looks the same with the dump (i.e., `bad-folder/**`), and it works f

[2017-12-31 23:31] DABH commented on #1202
(Also, it shouldn't matter, but here are the permissions that `stat` reports on `bad-folder`, just in case):
`Access: (0700/drwx------)  Uid: (  999/ UNKNOWN)   Gid: (    0/    root)`

[2018-01-01 18:56] roy7 commented on #1195
BTW while you have your docker handy, I'll let you know that often nodemon won't restart my process even after I change the source file. That isn't a big deal compared to the fixed crashing, I re-attach screen and type 'rs' each time. But if you want I can make a new issue and help with debugging on that as well.

[2018-01-01 21:47] remy commented on #1195
I'll take a look, but I know that some other devs using the `-L` legacy
watch method flag with nodemon and that occasional works around it.

Will let you know if I find anything.

On Mon, 1 Jan 2018, 18:56 Jonathan Roy, <notifications@github.com> wrote:

[2018-01-02 08:22] remy commented on #988
I'd recommend using the latest nodemon, but if this is happening upon load,
then it's likely to be your own code.

The tests throw this error when nodemon is required an restarts *a lot*
during the tests.

On Tue, 2 Jan 2018, 02:48 Darin Hensley, <notifications@github.com> wrote:

[2018-01-02 20:29] PhilMDev commented on #1154
Just in case @joefallon sees this (and perhaps for @remy also?) I found information here: https://github.com/electron-userland/electron-prebuilt/issues/263 that solved the same problem for me.  I suspect it has to do with safety issues on the server I installed on.  However, since I'm only using nodemon for testing I'm not too worried.

So I used:  npm install -g nodemon --unsafe-perm=true --allow

[2018-01-02 23:05] spencerhakim commented on #1189
@remy Hijacking this issue: using `node` just to print to the console is overkill, and I'm running into an issue installing this package with Docker + nvm where it can't find the `node` executable during postinstall (for whatever reason). Could you just simplify this to an `echo` call?

[2018-01-03 08:26] remy commented on #1189
@spencerhakim I know what you mean, but `node` in one process that I can be sure that would be installed (but you're right, it might not be in the path). I'm not entirely sure what would happen if I ran `echo` on Windows…

Related, I do want to suppress the message if nodemon is in CI (though I'm not entirely convinced nodemon should even be installed under CI!)

[2018-01-03 08:29] remy commented on #1154
@joefallon thank you for editing your original text.

I'm going to look at this today to see if I can work around this error from inside of nodemon. For now, if you're happy with the workaround that @PhilMDev that will get you past the error.

Issue is open now, and I hope to have a fix in soon.

[2018-01-03 11:23] arxpoetica commented on #505
Nope. I take it back. I ran verbose and files that are in `.nodemonignore` are no longer ignored on the upgrade.

Am I doing the pattern wrong?

[code]

[2018-01-03 11:33] remy commented on #505
@arxpoetica I think that's an absolute path, so assuming that `/public` is at the root of your drive, then it should work. Otherwise try `./public/*`.

[2018-01-03 11:33] arxpoetica commented on #505
I found the problem. It's reading `package.json` before `.nodemonignore` `-->`

[code]

Why would it do that if I don't have a nodemonignore file already?

[2018-01-03 11:35] arxpoetica commented on #505
I mean, I can just switch to the modern convention, which is what I'll do. (Tho' I prefer the old way.)

[2018-01-03 11:35] remy commented on #505
Oh yes, if there's `nodemonConfig` in the `package.json`, then IIRC that will take over.

[2018-01-03 11:37] remy commented on #505
Wait…sorry, I spoke too early. That log just means it's _checking_. I'm just checking the source code now…

[2018-01-03 11:39] arxpoetica commented on #505
To be clear, I don't have `nodemonConfig` in `package.json`

[2018-01-03 11:40] remy commented on #505
I'm reading the code (and will open a new issue) because the logging around *where* the config came from isn't clear (at all!).

Can you run your nodemon command (as you are already) but with `--dump` and include the output here? It'll help me see whether it read a config or not.

[2018-01-03 11:42] remy opened #1204 "Update logging to make clear where config is loaded from"
- `nodemon -v`: 1.14.7
- `node -v`: 8.9.0
- Operating system/terminal environment: Mac
- Command you ran:

[code]

### Expected behaviour

The verbose logging to tell me where the config was loaded from.

### Actual behaviour

Always reads "reading config /User/…/package.json".

[2018-01-03 11:42] remy commented on #1204
Ref https://github.com/remy/nodemon/issues/505#issuecomment-354992794

[2018-01-03 11:42] arxpoetica commented on #505
Yup. Probably good to still open an issue, though I just got it working correctly!

[2018-01-03 11:45] arxpoetica commented on #505
Here it is:

[code]

[2018-01-03 11:47] remy commented on #505
That wasn't the `--dump`, but it's fine if you've got it sorted 😉

[2018-01-03 11:48] arxpoetica commented on #505
Yeah, sorry, I figured that out right after I posted (and promptly deleted). Here's the actual dump:

[code]

[2018-01-03 12:36] xeoneux opened #1205 "Add ability to read config from package.json"
### Expected behaviour
Read nodemon config from package.json

### Actual behaviour
Read nodemon config from nodemon.json

[2018-01-03 12:47] remy commented on #1205
What exactly is the issue here? As far as I know, nodemon _does_ read the `nodemonConfig` from the `package.json` … unless you're seeing something different?

[2018-01-03 13:23] xeoneux commented on #1205
Hehehe, my bad. I was using `nodemon` instead of `nodemonConfig` key in the file 🙈

[2018-01-03 13:23] #1205 closed

[2018-01-03 13:23] xeoneux commented on #1205
Thanks @remy

[2018-01-03 13:28] remy commented on #1205
np 👍

[2018-01-03 16:42] joefallon commented on #1154
@remy Thank you. If it is any help the solution proposed by @PhilMDev works great. :)

[2018-01-03 18:28] spencerhakim commented on #1189
@remy I'd generally agree with your sentiment regarding nodemon in CI, but my build process requires other devDeps so I don't have much of a choice in that regard. Regardless, I need to fix my PATH issue since even if remove nodemon, my project's `npm start` fails to find `node`. Love returning from the holidays to find that something like this no longer works...

[2018-01-04 09:02] MartinMuzatko commented on #903
When I add `--inspect` to `nodemon`, I don't get any info of a socket opened or how to debug it.

[2018-01-04 09:06] MartinMuzatko commented on #903
I used to do this: `nodemon --inspect 'LOG_LEVEL=debug node server.js`
I found out, instead I have to do this: `LOG_LEVEL=debug nodemon --inspect server.js`
Not sure if the LOG_LEVEL env is passed down to the node `process.env` though

[2018-01-05 03:46] vitorpiovezam commented on #895
Thanks, this works great @seamoss .

`npm rm nodemon -g
npm i nodemon@1.10.0 -g`

[2018-01-05 07:27] remy commented on #895
@vitorpiovezam I'd recommend installing the latest version (1.14.x), there's been a lot of work since 1.10.0 so you might find a problem is fixed but also you can report new issues and they'll be investigated too.

[2018-01-05 08:27] makisp commented on #252
@iemadk Thank you for this, it was driving me crazy!

[2018-01-05 12:43] remy commented on #1154
@joefallon can you try installing using `nodemon@debug`? I've tweaked the `postinstall` script slightly in the hope that it doesn't bork the entire install process (as your example showed). If it works, then I'll publish it under a proper release (but I couldn't work out how to replicate the problem myself - sorry).

[2018-01-06 00:41] atom0s opened #1208 "Overkill Restarting On File Opening"
- `nodemon -v`: 1.14.7
- `node -v`: 8.9.4
- Operating system/terminal environment: Windows 10 (and Windows 8.1)
- Command you ran:

nodemon

### Expected behaviour

Restarts triggered when a source file is altered.

### Actual behaviour

Restarts are triggering just opening the files in an editor such as VSCode.

### Steps to reproduce

1. Install node.
2. Install nodemon.
3. Run nodemon in a sour

[2018-01-06 00:43] atom0s commented on #1208
Running with verbose mode on, the trigger is seen as:

[code]

Just clicking on the 1000.json file to open it in VSCode editor causes the trigger and restart.

[2018-01-06 09:34] remy commented on #1208
What, in Windows, are you using to run nodemon? Is it the command prompt, powershell, git bash, or something else? Also, I suspect this is because somehow the OS is triggering a notify of file change - rather than nodemon doing anything special…

[2018-01-06 09:35] #1204 closed

[2018-01-06 09:35] #1154 closed

[2018-01-06 09:35] remy commented on #1187
@nikitabe did you get anywhere?

[2018-01-06 09:57] kosmotaur commented on #1189
@IGZgustavomarin if it's too much to take, `npm i > /dev/null` 🙈

[2018-01-06 11:08] remy commented on #1154
@joefallon I've released this change in 1.14.8 - even if the `postinstall` fails, it should cleanly exit the command which should prevent the whole process from bailing.

[2018-01-06 18:46] atom0s commented on #1208
I am using Powershell.

[2018-01-06 19:06] jfloresanchez opened #1209 "node v8.9.3 - error No valid versions available for is-retry-allowed"
- `nodemon -v`:
- `node -v`:
- Operating system/terminal environment:
- Command you ran:

### Expected behaviour

### Actual behaviour

### Steps to reproduce

---

If applicable, please append the `--dump` flag on your command and include the output here **ensuring to remove any sensitive/personal details or tokens**.

[2018-01-06 19:15] azizghuloum opened #1210 "Cannot install nodemon ... duplexer3 and timed-out modules gone"
When I install, I get:
[code]

It seems that `timed-out` and `duplexer3` were removed from npmjs:
https://www.npmjs.com/package/duplexer3  returns 404
https://www.npmjs.com/package/timed-out  also returns 404

[2018-01-06 19:16] MathRobin opened #1211 "Got "No valid versions available for duplexer3" at npm install"
- `nodemon -v`: can't install
- `node -v`: 8.9.3
- Operating system/terminal environment: Ubuntu 17.10
- Command you ran: `npm i nodemon -DE`

### Expected behaviour

Install nodemon 1.14.8 as it's the last version.

### Actual behaviour

[code]

### Steps to reproduce

`npm i nodemon -DE`

[2018-01-06 19:17] capndave opened #1212 "node v8.9.1 - No valid versions available for timed-out"
## Description

I'm using:
  Node v.8.91
  NPM v5.6.0
  On a machine running linux mint 17.

I can't install nodemon using "npm install -g nodemon."

## Output

`npm ERR! code ENOVERSIONS
npm ERR! No valid versions available for timed-out

npm ERR! A complete log of this run can be found in:
npm ERR!     /home/david/.npm/_logs/2018-01-06T19_06_56_809Z-debug.log`

## Log Results

'30 http fetch GET

[2018-01-06 19:17] MathRobin commented on #1210
It's the same of https://github.com/remy/nodemon/issues/1211.

[2018-01-06 19:24] LeeCheneler commented on #1210
I've had duplexer3 and pinkie-pomise packages timeout this evening too :(

[2018-01-06 19:25] azizghuloum commented on #1210
@LeeCheneler It seems like npmjs is a little flaky tonight. It's back online just now.

[2018-01-06 19:33] LeeCheneler commented on #1210
Yeah something is up, getting a different issue now:

[code]

status.npmjs.org isn't reporting anything yet :(

[2018-01-06 19:35] Theo- commented on #1210
@azizghuloum the package `timed-out` is effectively not on NPM anymore: https://www.npmjs.com/package/timed-out

I tried to republish it, but I'm getting an NPM error: `Package name too similar to existing packages;`

[2018-01-06 19:54] terrybleger commented on #1212
I think the author/maintainer for timed-out was already dead. Please fix this asap.

[2018-01-06 20:01] remy commented on #1212
@terrybleger you can raise a PR for this ASAP and I'll merge. But right now I'm eating dinner with my wife…

[2018-01-06 20:01] remy commented on #1211
Going to close as dupe of #1210

[2018-01-06 20:01] #1211 closed

[2018-01-06 20:02] remy commented on #1212
Closing as dupe of #1210 (more comments on there).

[2018-01-06 20:02] #1212 closed

[2018-01-06 20:03] remy commented on #1209
Closing as dupe of #1210

[2018-01-06 20:03] #1209 closed

[2018-01-06 20:04] remy commented on #1210
This looks like both of the modules belong to updater:

<img width="618" alt="screen shot 2018-01-06 at 20 03 40" src="https://user-images.githubusercontent.com/13700/34643480-bbdb32ce-f31c-11e7-972d-a5e93712956a.png">

I can't personally fix right now, but if anyone can get a PR (that doesn't remove `update-notifier`, then I'm able to merge).

[2018-01-06 20:04] remy commented on #1210
Might even be a PR to the `got` module?

[2018-01-06 20:05] Theo- commented on #1210
This is apparently a wide-spread issue on the NPM repository: https://news.ycombinator.com/item?id=16087024#16087108

[2018-01-06 20:05] remy commented on #1210
Possibly related: https://news.ycombinator.com/item?id=16087024

[2018-01-06 20:06] azizghuloum commented on #1210
https://github.com/npm/registry/issues/255

[2018-01-06 20:11] remy commented on #1210
Just been doing some quick reading. Firstly, npm are on it: https://status.npmjs.org

Secondly it looks like (from comments on the npm/registry issues) that duplexer3 has been hijacked. I'm not 100% sure if the package-lock.json file that nodemon has protects you, but just be wary.

[2018-01-06 20:18] terrybleger commented on #1212
I will if i could. But i don't even know what timed-out is for. All I know is npm is down and packages are missing from npm.

[2018-01-06 22:27] remy commented on #1210
Looks like npm has solved this issue now: https://status.npmjs.org/incidents/41zfb8qpvrdj

If you reinstall, it should come down with the correct dependencies. If you do happen to see the "old" duplexer3 _hijacked_ message, try to `npm uninstall --save-dev nodemon` and re-install (I noticed that once duplexer3 was in my package-lock.json file, it seemed to install the _bad_ one again until the loc

[2018-01-06 22:27] #1210 closed

[2018-01-06 22:28] remy commented on #1208
@atom0s are you able to replicate in a non-powershell? (just to rule out vs code or something more general)

[2018-01-06 23:23] remy commented on #1212
@terrybleger npm have fixed their issue now and all packages restored.

[2018-01-06 23:44] atom0s commented on #1208
Yes, it happens with a normal command prompt as well. Just tested.
Updated to latest nodemon (1.14.8) and is still happening as well.

[2018-01-06 23:49] atom0s opened #1213 "Crash On Folder Delete"
- `nodemon -v`: 1.14.8
- `node -v`: 8.9.4
- Operating system/terminal environment: Windows 10 / PowerShell
- Command you ran:

nodemon --verbose

### Expected behaviour

When the folder is deleted, a filter match attempt should be made and a refresh triggered if not ignored.

### Actual behaviour

nodemon crashes with an internal error message.

### Steps to reproduce

1. Create a folder named any

[2018-01-06 23:57] remy commented on #1202
I think I've fixed this. You can test it out before it's released via `npm install nodemon@debug`.

It should work with `nodemon --exec ./node_modules/.bin/ts-node -P foo --harmony --ignore bad-folder -- ./foo.ts` - let me know how it goes (I'll likely release either tomorrow or Monday).

[2018-01-07 00:00] remy commented on #1213
Looks to be windows specific, certainly on first test on Mac. Ran nodemon with a directory foo, removed dir, nodemon still working.

@atom0s in the meantime, can you test on your end with `npm install nodemon@debug`? It's got a couple of subtle changes to the way folders are watched and might make a difference.

[2018-01-07 00:14] atom0s commented on #1213
Removed old nodemon via:
```npm uninstall -g nodemon```

Installed debug with:
```npm install -g nodemon@debug```

Ran with:
```nodemon --verbose```

Deleted a folder and still crashed with the same error.

[2018-01-07 00:20] atom0s commented on #1213
Jumped onto my desktop (Windows 8.1) and tested this as well with debug nodemon. Same crash so doesn't look to be Win 10 specific.

[2018-01-07 01:35] capndave commented on #1212
thanks all!

*David Thompson *
Master of Public Affairs
Data and Visualization Consultant

On Sat, Jan 6, 2018 at 5:23 PM, Remy Sharp <notifications@github.com> wrote:

[2018-01-07 16:03] joefallon commented on #1154
nodemon@debug installed without an issue. :)

Respectfully,
Joseph Fallon
Microsoft Certified Professional
e: joseph.t.fallon@gmail.com

On Fri, Jan 5, 2018 at 4:43 AM, Remy Sharp <notifications@github.com> wrote:

[2018-01-07 20:34] remy commented on #1213
I can't replicate this on Windows at all.

![2018-01-07](https://user-images.githubusercontent.com/13700/34653821-ad286e04-f3e9-11e7-8833-666183af7c41.png)

I couldn't work out how to run a screencast in Windows, but the above is a screenshot of two PS terminals running. On the left, I've tweaked nodemon so that the files being watched are echo'ed out. On the right, I delete the `foo` directory, a

[2018-01-08 09:33] mjarkk opened #1216 "Don't show: Files triggering change check and changes after filters"
- `nodemon -v`: 1.14.7
- `node -v`: 9.3.0
- Operating system/terminal environment: Ubuntu 17.10, default shell
- Command you ran: yarn start (this will start a script that will ran: nodemon serv.js)

### Expected behaviour
Not show :
[nodemon] files triggering change check: some/directory/some.file
[nodemon] changes after filters (before/after): 1/0

### Actual behaviour
I have a view directories

[2018-01-08 09:43] remy commented on #1216
I think I already have a fix for this in the wings.

Can you try with the debug version of nodemon (`npm install nodemon@debug`)

[2018-01-08 10:39] mjarkk commented on #1216
Thx that fixed the problem

[2018-01-08 12:35] #1213 closed

[2018-01-08 12:51] remy commented on #1216
Live in nodemon@1.1.4.9

[2018-01-08 12:51] #1216 closed

[2018-01-08 15:12] zer09 opened #1217 "npm list errors if nodemon is install"
- `nodemon -v`: 1.14.9
- `node -v`: v8.9.3
- Operating system/terminal environment:  Fedora 27/gnome terminal
- Command you ran: npm list --depth=0

### Expected behaviour
It will just list the installed packages, without the errors.

### Actual behaviour
It list all all the installed packages, but with errors on the end.

### Steps to reproduce
I tried to use fresh expressjs.

- install express b

[2018-01-08 15:22] remy commented on #1217
It looks like these are coming from Chokidar's optional dependencies:

[code]

There's nothing I can do about this, but I think those aren't really npm errors, but rather warnings (since they come from the optional deps). Hope that's all cool.

[2018-01-08 15:22] #1217 closed

[2018-01-08 17:38] atom0s commented on #1213
Sorry for the delayed response. Newest version pushed fixed this for me. Thanks. :)

[2018-01-09 01:39] eablokker opened #1218 "Nodemon 1.14.7 not restarting when saving file, previous version works"
- `nodemon -v`: 1.14.7
- `node -v`: v6.0.0
- Operating system/terminal environment: Mac OS Sierra 10.12.6, Terminal default shell
- Command you ran: `NODE_ENV=development nodemon app.js`

### Expected behaviour
Nodemon should restart when I save a file

### Actual behaviour
Nodemon does not restart when I save a file. Nothing happens, no error messages.

### Steps to reproduce
Was able to fix by u

[2018-01-09 05:31] remy commented on #1218
Can you test with latest, and run with the `-V` flag and include the output here when you've changed a file and expect it to restart.

[2018-01-09 05:44] eablokker commented on #1218
Ok installed nodemon 1.14.9

This is what I get when starting with -V flag.
There is no output at all when I save a file and expect it to restart. Nothing at all happens.

[code]

Also of note is when I type `rs` and hit return I get this error:
[code]

I wonder what the minimum Node version is required for this version of nodemon?

[2018-01-09 07:45] remy commented on #1218
Node 4 is the minimum requirement. It looks like you're on 6.0.0.

Am I right in reading that nodemon is blowing up entirely?

[2018-01-09 08:01] remy commented on #1218
Darnit, I'm able to replicate the `-V` error output, and it crashes with the "rs" trigger too.

[2018-01-09 08:03] remy commented on #1218
I'm pretty sure there's actually two things going on here:

1. I'm now [logging out](https://github.com/remy/nodemon/blob/e95ea6f656bfc2a368362e7f6729da297b463031/lib/config/index.js#L85) any syntax errors in nodemon - but I'm fairly sure this is non destructive
2. The `rs` causing a crash - this is definitely new

Then there's your original issue, but I wonder if (1) is causing the process to bai

[2018-01-09 09:32] remy commented on #1218
I think I've found it. There's a difference in the fork api between node@6 and node@6.4.0. Although ideally I just support the latest version of node on each LTS, I've got a fix in place ready for live testing.

If you can try with the debug version: `npm install nodemon@debug` and re-test with your current version of node, I believe it is fixed.

If so, please let me know (and I suggest I bump of

[2018-01-09 09:37] remy commented on #1187
@nikitabe I think I've inadvertently found the problem. Can you try with `nodemon@debug` - I _think_ the issue is that nodemon was silently breaking due to node@6.1.0 not having support for `stdio` on the fork API.

I'm going to re-run my local test on windows, but instead of 6.x, I'll use 6.1.0 and see if I can replicate.

[2018-01-09 11:05] remy commented on #1187
I'm just posting an update. I'm now able to replicate, but this isn't a code issue - it's an OS issue.

I managed to replicate in this scenario:

1. Code and nodemon running inside of WSL (ubuntu 16, but I don't think this matters) using `nodemon http.js`
2. *Importantly* the directory the code is running on is inside my $HOME directory (in this particular case, `~/node-testing/http.js`)
3. From W

[2018-01-09 11:05] #1187 closed

[2018-01-09 13:18] #1218 closed

[2018-01-09 13:31] remy commented on #1208
Can you re-test with nodemon@1.14.10? There's been a few changes that might affect your testing (I couldn't replicate with powershell on my own windows machine).

[2018-01-09 19:36] eablokker commented on #1218
Thank you. 1.14.10 works for me now.

[2018-01-10 03:56] zer09 commented on #1217
Thanks, this was gone on ```v1.14.10```.

[2018-01-10 21:07] Wqrld opened #1221 "how to make nodemon auto-restart a program on crash without waiting for file changes?"
### Expected behaviour
auto-restart on crash

### Actual behaviour
waits for file changes

[2018-01-10 21:46] remy commented on #1221
That's kinda the point of nodemon - otherwise nodemon would send your script into a loop during development!

…but if you really want to, you can do this (assuming non-Windows):

[code]

Otherwise, I'd recommend [forever](https://github.com/foreverjs/forever) if you need something to keep restarting over and over regardless of the cause of crash.

[2018-01-10 21:46] #1221 closed

[2018-01-10 22:17] attrox commented on #1189
This promotional message broke ansible task because it's treated as a failure.

[2018-01-10 22:38] Laycoonz opened #1222 "404 Error Unable to install"
- `nodemon -v`:
- `node -v`:
- Operating system/terminal environment:  Windows 10
- Command you ran: npm install --save-dev nodemon

### Expected behaviour
Successful installation

### Actual behaviour
404 Not Found: duplexer3@https://registry.npmjs.org/duplexer3/-/duplexer3-0.1.5.tgz

### Steps to reproduce
Install node.
Install nodemon as a development dependency

---

If applicable, please appe

[2018-01-10 22:55] remy commented on #1189
@attrox what version of nodemon were you testing with? The `postinstall` in the latest code is designed to fail gracefully: https://github.com/remy/nodemon/commit/64a82ff81a2a0c0b562d298698aa52a3628da77f?diff=split

[2018-01-10 22:58] attrox commented on #1189
@remy it's 1.14.10

[2018-01-10 23:00] remy commented on #1222
You're hitting some kind of cached entry - either for your package or npm somehow. This is related to the [outage they had recently](https://blog.npmjs.org/post/169432444640/npm-operational-incident-6-jan-2018). Specifically, 0.1.5 of Duplexer3 doesn't exist: https://registry.npmjs.org/duplexer3/latest.

I'd recommend running `npm cache clean` and retrying, otherwise raising with the npm people (l

[2018-01-10 23:00] #1222 closed

[2018-01-10 23:01] remy commented on #1189
@attrox Do you want to create a new issue - and possibly help with any ideas on how to get Ansible to accept the `exit 0`? I'd also suggest including the output you're seeing so more eyes (hopefully!) can get ideas.

[2018-01-11 03:50] sultan99 opened #1223 "Nodemon won't restart app"
After saving files, nodemon does not restart app, giving the message:
`[nodemon] changes after filters (before/after): 1/0`

Spending several hours I found the solution.
In Windows OS if your have dot in path of your project it displays the message above as soon the dot is removed everything works as expected.

`c:\.projects\your-app` change to `c:\project\your-app` - starts work 👌.

So is it bug

[2018-01-11 08:44] remy commented on #1223
What version of nodemon are you running?

There was a change in some of the latest changes that tries to help with this problem (it's related to chokidar).

[2018-01-11 09:20] sultan99 commented on #1223
@remy
v1.14.10

[2018-01-11 09:43] remy commented on #1223
Oh, I believe it's because chokidar (nodemon's file watching dep) is treating the entire directory as a hidden directory, so any changes are entirely ignored.

I'm not 100% sure if this is a bug, or intended behaviour. Certainly there's no flag in chokidar that allows to start watching dotfiles.

[2018-01-11 09:55] remy commented on #1223
(I'm doing some digging through chokidar to check that this is definitely the case)

[2018-01-11 09:58] remy commented on #1223
Right, it's not chokidar, it's nodemon! I'll get a fix in today.

[2018-01-11 11:00] #1223 closed

[2018-01-11 11:08] sultan99 commented on #1223
👏 Nice! Thank you.

[2018-01-11 16:39] pleunv opened #1225 "v1.14.11 CPU load issue"
- `nodemon -v`: 1.14.11
- `node -v`: v8.9.1
- Operating system/terminal environment: Windows 10 (cmder/ConEmu)
- Command you ran: `nodemon scripts/bin/server.js --ignore dist --ignore coverage --ignore tests --ignore src --ignore cypress`

### Expected behaviour

Nodemon launches server, afterwards the process' CPU usage drops to ~0%.

### Actual behaviour

Nodemon launches server but its process

[2018-01-11 18:16] remy commented on #1225
Can you give me the initial output of nodemon using the `-V` flag?

[2018-01-11 18:37] pleunv commented on #1225
[code]

`/tests` is a directory that does not seem to exist anymore, which is why it is not globbed I guess. Leaving it out makes no difference.

[2018-01-11 18:39] pleunv commented on #1225
Running it on `1.14.10` gives me the actual file count at the bottom, not getting this on `1.14.11`:

[code]

[2018-01-11 19:19] attrox commented on #1189
I finally found the Ansible fix for this
`- name: Install Npm packages
  command: npm install
  register: result
  failed_when: "result.stderr is defined and 'ERR!' in result.stderr"`

[2018-01-12 08:36] remy commented on #1225
Hmm, I suspect the CPU hogging is nodemon actually counting up the files…

I'm investigating.

[2018-01-12 09:20] remy commented on #1225
I'm pretty confident this is a windows (perhaps cmdr) specific. Running cmdr locally on a near empty directory yields the following:

[code]

Note the **1302** files - I suspect it's going in an walking the node_modules directory.

[2018-01-12 09:29] pleunv commented on #1225
You're right, adding `--ignore node_modules` seems to work around this issue. Never occurred to me to try this yesterday :).

Fwiw, native windows prompt has the same problem, so it's not limited to cmder/ConEmu.

[2018-01-12 10:41] remy commented on #1225
Found the [related issue](https://github.com/paulmillr/chokidar/issues/668) on Chokidar and I'm about to send a PR to fix.

[2018-01-12 10:51] pleunv commented on #1225
Awesome, thank you!

[2018-01-12 13:13] nadavb commented on #1124
Downgraded to Node 6.12.3 and it worked

[2018-01-12 13:35] vascofg opened #1226 "nodemon --inspect doesn't launch the debugger."
- `nodemon -v`: 1.14.1
- `node -v`: 8.9.3
- Operating system/terminal environment: Docker /_/node:8 image
- Command you ran: `nodemon --inspect`

This runs: `node ./bin/www --inspect` which doesn't start the debugger.
Running `node --inspect ./bin/www` (with the argument before the file) actually launches the debugger.

PS: The behaviour is the same with --debug flag

[2018-01-12 13:55] Janpot commented on #1189
Can I make the message disappear by donating?

[2018-01-12 17:01] remy commented on #1189
@Janpot you can but only try. And just think, if there's enough momentum around the open collective route, then it'll probably drive itself and not need the banner.

[2018-01-12 17:02] remy commented on #1226
Can you upgrade to latest nodemon? I believe it's fix in there.

[2018-01-12 17:04] remy commented on #1226
Oh wait… can you share your `package.json` file? I suspect you've got `scripts.start: "node ./bin/www"` which isn't really possible for nodemon to wildy guess as to what's in the command and then splitting it up to insert flags.

Can you just check those two things (the version and your package)

[2018-01-12 17:15] vascofg commented on #1226
Indeed my package.json has:
[code]

nodemon version is 1.14.11

[2018-01-13 00:03] Janpot commented on #1189
🙂  I'm just playing the devil's advocate. I prefer to contribute in a different way. I wish you success on your journey though.

[2018-01-13 13:28] vascofg commented on #1226
I've tested this a bit and turns out the only thing you need is the main prop. If you have that it works without specifying the file to nodemon.
This is actually in the documentation:

This part could mislead people since this was what it was doing in my case and wasn't working as expected. Maybe a warning when using `--inspect` or `--debug` flags when nodemon can't find the main prop?

[2018-01-13 22:22] andrewquartey commented on #1058
has any one been able to resolve this issue?

[2018-01-13 22:37] remy commented on #1058
@andrewquartey if you're seeing nodemon crashing can you file a new issue with full details? This issue is likely unrelated as there's been a number of new releases since it was opened. Thanks!

[2018-01-14 19:58] SpencerKaiser commented on #1208
I'm having a similar issue... when using atom if I have multiple files open (not just being previewed) and I switch between them (e.g., switch tabs), the file I switch to is triggering a restart. No saves are taking place and nothing should be modifying those files.

Just updated and verified the issue again with nodemon@1.14.11, please let me know if any other info would be helpful!

[2018-01-14 20:44] remy commented on #1208
@SpencerKaiser can you include a screenshot of the nodemon output with `--verbose` flag when it's restarting. I'm suspecting the editor touching some files, but I can't replicate this at all so it's hard to know.

[2018-01-14 20:50] SpencerKaiser commented on #1208
Maybe git is modifying files or my editor is modifying them for me on git's behalf because it seems like the restart only triggers for files with unstaged changes

[2018-01-15 03:55] KevinBurton opened #1227 "Unexpected token"
I am using DockerHub ubuntu:trusty image to build my image.
The default command is CMD ["nodemon", "/src/index.js"] to run the app. The expected behavior is to run the application. But I am getting

[code]
I am not sure what this error means?

[2018-01-15 08:18] remy commented on #1227
What version of node are you running?

[2018-01-15 09:28] ruslankonev commented on #763
anyway, and with latest nodemon version, on macos high sierra, when I focus on a file in atom-editor, I will have infinite restarting process...

![image](https://user-images.githubusercontent.com/2588730/34935646-9df3735a-f9ef-11e7-9f1b-20b7e04b2a22.png)

[2018-01-15 09:37] remy commented on #763
@ruslankonev this is a long closed issue, but your build script is generating your components directory contents, so tell nodemon to ignore that directory

[2018-01-15 12:17] SamuraiJack commented on #1124
having this problem after fresh install of Node 8.9.4 from sources, on Ubuntu 14.04:

[code]

[2018-01-15 13:11] remy commented on #1124
https://github.com/remy/nodemon/blob/master/faq.md#error-cannot-find-module-internalutiltypes this isn't a nodemon issue, it's npm, but others have had success with that faq item.

[2018-01-15 14:29] KevinBurton commented on #1227
I am running 8.9.4 but I am not sure the version in the docker image.

[2018-01-15 14:54] remy commented on #1227
You'll need to find out the version of node inside the docker image (obviously the version of node _outside_ of the image isn't applicable to anything).

If you share your `Dockerfile` it's likely to be in ther.

[2018-01-15 15:15] KevinBurton commented on #1227
Here is the Dockerfile I am using:

[code]

[2018-01-15 17:19] remy commented on #1227
I'm having trouble replicating. Can you replicate on your side using this Dockerfile and index.js (based on your own docker setup): https://gist.github.com/remy/eae32740f6e2f1e47c6295b6b4b9d403

[2018-01-15 17:25] remy commented on #1226
I'm not entirely sure what the right move here is. I'm not keen on the idea of parsing the `script.starts` value and then trying to maintain all the node arguments and splicing them in. It's almost worth considering dropping support for `script.starts` which makes the most (technical) sense, but I'm worried it's a nicety that's pretty useful, albeit brittle.

[2018-01-18 00:00] devamaz opened #1228 "Auto-restart not working"
- `nodemon -v`: 1.14.11
- `node -v`: 8.0.0
- Operating system/terminal environment: OS X 10.12.6
- Command you ran: nodemon

### Expected behaviour
Should Auto-restart after saving  after saving file

### Actual behaviour
Not Auto-restarting after saving file

[2018-01-18 07:45] remy commented on #1228
Can you provide a screenshot when running with `--verbose`?

[2018-01-18 11:50] andyperisho opened #1229 "Can't install via yarn"
[code]

I am trying to install `nodemon` via yarn. It works fine when I do `npm install --save-dev nodemon`.
But, when I run `yarn add nodemon` or `yarn add -D nodemon`, I get the following error:

[code]

EDIT:

Actually, after I install it from npm globally `npm install -g nodemon`, I run into the same error if I run `nodemon`:

[code]

[2018-01-18 14:10] remy commented on #1229
What kind of script is nodemon trying to spawn?

[2018-01-18 14:10] remy commented on #1229
Actually, can you re-run with `nodemon -V`?

[2018-01-18 14:11] remy commented on #1227
@KevinBurton Any progress on this?

[2018-01-18 14:51] andyperisho commented on #1229
I actually think this is not a nodemon issue, but a nodejs bug related to libuv update.
https://github.com/nodejs/node/issues/18225

[2018-01-18 14:51] #1229 closed

[2018-01-18 15:08] remy commented on #1229
lol @oliverbot - I didn't fix anything, but thanks for chiming in ❤️

[2018-01-18 15:13] remy commented on #1208
@atom0s I'm not familiar with procmon, so I'm not sure why (or what) is walking through your current working path, but can you include the output of `nodemon -V` so I can look for any config that might help diagnose.

Like I said, I can't replicate at the moment, so I'm unsure of where the root of the issue is.

[2018-01-18 15:47] KevinBurton commented on #1227
Must have been a version issue. It doesn’t throw the error any more. I think this issue seems to be resolved. Thank you.

[2018-01-18 16:01] #1227 closed

[2018-01-18 16:47] andyperisho commented on #1229
You did try and help solve a problem. That probably counts. And, in any case, free <3 never hurt!

[2018-01-18 18:10] Berkmann18 opened #1230 "ENOTCONN on Linux"
- `nodemon -v`: 1.14.7
- `node -v`: 9.4.0
- Operating system/terminal environment: ArchLinux 4.13.0-rc3-mainline / xfce4-terminal (v0.8.6)
- Command you ran: `nodemon -e js,html,css --delay 1`

### Expected behaviour
Run `node server.js` and output the correct things such as `OSM Server listening at http://localhost:3000`
That shows properly when running `npm start`.

### Actual behaviour
[code]

[2018-01-19 02:47] 404157386 opened #1231 "can't resolve correct relative path as node at windows 7 command line"
- `nodemon -v`:1.14.11
- `node -v`:v8.4.0
- Operating system/terminal environment: windows7
- Command you ran:
nodemon build/dev-server.js

I run this command at path "D:\code\admin-ui>"

### Expected behaviour
starting `node .\build\dev-server.js`

### Actual behaviour
Error: Cannot find module 'D:\build\dev-server.js'

### Steps to reproduce
hope you can fix this issue, thx!

![image](https://us

[2018-01-19 03:56] sixtiiine opened #1232 "Nodemon not starting in Git Bash"
- `nodemon -v`: 1.14.9
- `node -v`: 6.11.0
- Operating system/terminal environment: Windows 10, Git Bash
- Command you ran: `nodemon --use-strict index.js --debug` also just `nodemon`

### Expected behaviour
Nodemon launches server

### Actual behaviour
Nodemon does not launch server and instead error below displays:
module.js:471
    throw err;
    ^

Error: Cannot find module 'C:\Program Files\G

[2018-01-19 07:35] remy commented on #1232
Can you try uninstalling and reinstalling?

[2018-01-19 07:36] remy commented on #1231
Can you try with `./build/server`

[2018-01-20 14:38] devamaz commented on #1228
Thank problem fixed after updating  nodemon

[2018-01-20 14:38] #1228 closed

[2018-01-20 15:48] Berkmann18 commented on #1230
Indeed, it was something to do with node where I add to re-install it and install `libuv-1.19` from Pacman.

[2018-01-21 22:45] remy commented on #1232
Any joy?

[2018-01-21 22:45] remy commented on #1231
Any joy?

[2018-01-21 22:48] remy commented on #1225
Just to let you know, I'm still waiting for the chokidar 2.0.1 release to land. My change got merged in, but they're still holding back the release (I'm assuming for other patches to settle first).

[2018-01-22 05:22] sixtiiine commented on #1232
Thanks. I've tried uninstalling and reinstalling multiple times already, but am still getting the error :(

[2018-01-22 05:38] 404157386 commented on #1231
No.  `nodemon ./build/server`  doesn't work either

[2018-01-23 04:20] sixtiiine commented on #1232
Hello! Managed to fix this on my machine by creating a symbolic link for the node modules path.

mklink /D node_modules %USERPROFILE%\AppData\Roaming\npm\node_modules

Hope this helps!!!

[2018-01-23 04:20] #1232 closed

[2018-01-23 04:21] sixtiiine commented on #1232
(Just still haven't figured out why it stopped working in the first place... ?_? but at least it's working again now 👍)

[2018-01-23 06:47] niranjan470 commented on #68
Hi i have same problem, when i am trying to ssh & start node from different server its throwing me error

env: node: No such file or directory

installed node as binary in centos 7 and gave path in bash_profile, it works fine when i run from save server, node version is 8.9.2

[2018-01-23 12:08] kk7drift opened #1233 "nodemon doesn't accept filename having hyphen [-]"
- `nodemon -v`: 1.14.11
- `node -v`: v9.4.0
- Operating system/terminal environment: Win 7-64 bit
- Command you ran: nodemon .\arrow-functions.js

### Actual behaviour
![image](https://user-images.githubusercontent.com/20459964/35274716-2eb02478-0063-11e8-98a8-6aacc05e97cf.png)

### Expected behaviour
-Command you ran: nodemon .\arrow_functions.js
When I run the same command by removing the hyphen

[2018-01-23 12:54] remy commented on #1233
Very weird! I'll check that out.

[2018-01-24 07:34] ryanburnette commented on #733
Sometimes I would like to be able to tell nodemon to do something other than the entry point.

[2018-01-24 10:51] remy commented on #733
@ryanburnette you can: `nodemon foo.js`

[2018-01-24 16:44] alexisdiel commented on #1208
When express requests the file to render view, it detects as a change and reloads

[2018-01-24 17:02] remy commented on #1208
@alexisdiel I'm guessing you have a nodemon config in place, only because you're currently watching everything with **.

[2018-01-24 17:55] alexisdiel commented on #1208
Sure @remy
I'm using it along with browserSync and fixed by not watching some folders, configuring the browserSync to watch these folders.

[2018-01-24 20:49] ryanburnette commented on #733
I was getting behavior where that would call nodemon on the entry point and the script provided in the argument. That might not make any sense. I'll try to produce a simple test case.

[2018-01-25 04:20] sairoutine opened #1234 "node < 6.4.0, no child.stdout exist"
- `nodemon -v`: v1.14.11
- `node -v`: v6.0.0
- Operating system/terminal environment: OS X EI Capitan 10.11.6(Terminal default shell)
- Command you ran: `nodemon -e js -i assets -i node_modules -x "npm run build" -V`

### Expected behaviour
No error occurs.

### Actual behaviour
the following error has occurred.
[code]

### Steps to reproduce
To run the above command.

[2018-01-25 07:37] dontito94 commented on #907
This work for me

echo fs.inotify.max_user_watches=582222
 sudo tee -a /etc/sysctl.conf

 sudo sysctl -p

[2018-01-25 08:18] remy commented on #1234
Are you able to upgrade to the latest *stable* node 6?

[2018-01-25 21:40] remy commented on #1226
I'm not sure there's anything to do here. You mentioned the docs _could_ mislead people, do you have a change in mind that could help clarify? I'm going to close as it's not a bug per se, but possibly a PR on the docs.

[2018-01-25 21:40] #1226 closed

[2018-01-25 21:41] remy commented on #1208
@atom0s still waiting on a reply. Any chance you're able to follow up? Or I can close and re-open if others are seeing this issue (in a way that it's replicable).

[2018-01-25 23:27] dlebedynskyi opened #1235 "jsbn version is resolved to 0.1.1 with yarn"
- `nodemon -v`: 1.14.11
- `node -v`: 8.9.1
- Operating system/terminal environment: Docker image & Mac
- Command you ran:
yarn install resolved jsbn to 0.1.1 due to hard dependency on [ecc-jsb ](https://github.com/remy/nodemon/blob/66e0d133f52255b62d354579a77e601c74900059/package-lock.json#L1197) to
[code]

### Expected behaviour

do not have hard dependency to long deprecated version of jsbn - la

[2018-01-26 03:44] sairoutine commented on #1234
In Node v6.9.0 (LTS), It works with no error.

[2018-01-26 03:45] sairoutine commented on #1234
I think the following code is correct.
https://github.com/remy/nodemon/blob/e90f15aa8a2afffe67fa7a86208587b8cdc34f3e/lib/monitor/run.js#L263
[code]
It has worked on Node v.6.0.0.

[2018-01-26 07:07] remy commented on #1235
Please can you provide a dockerfile that I can use to reproduce the error. I can't really follow your description. Sorry.

[2018-01-26 15:25] nicolasparada opened #1236 "Cannot find module .\custom-loader.mjs"
- `nodemon -v`: 1.14.11
- `node -v`: v9.4.0
- Operating system/terminal environment: Windows 10/PowerShell Core 6.0
- Command you ran: `nodemon -x \"node --experimental-modules --loader ./custom-loader.mjs\" -e graphql,js,mjs,json main.js`

### Expected behaviour
I'm using [node loader hooks](https://nodejs.org/dist/latest-v9.x/docs/api/esm.html#esm_loader_hooks) to use ES6 modules with .js extens

[2018-01-26 15:51] remy commented on #1231
@404157386 can you replicate with a simple server.js file, something like:

[code]

[2018-01-26 15:53] remy commented on #1236
Can you give me a gist containing `custom-loader.mjs` and `main.js`? They don't have to be your original code, but enough to replicate the bug.

[2018-01-26 16:14] nicolasparada commented on #1236
Oh yeah, I forgot that.
Here: https://github.com/nicolasparada/node-graphql-boilerplate/blob/master/custom-loader.mjs
It's like the example in the node docs.

[2018-01-27 16:43] dlebedynskyi commented on #1235
@remy
I'll try to explain a bit better and min reproduce scenario
1. create a package with jsbn dependency
https://gist.github.com/dlebedynskyi/62bb7408664bc053bd18b5c11ef2f9d1

2. create another package that will use one above
https://gist.github.com/dlebedynskyi/8528b304eb04f873a872a7b1b05682bd

you can check node_modules/jsbn/package.json

3. now add nodemon  (1.14.11 ) to sample-nodemon
https:

[2018-01-27 23:04] remy commented on #1235
I've not tried to test this yet, but reading the files, I actually think this isn't an issue with nodemon but actually and issue with yarn and/or npm.

If you repeat the entire process, but with npm only (not using yarn or yarn locks at all), do you get the same issue?

I'm very certain you won't (and I've got a suspicion that I read about a similar issue being addressed on the npm issue lists…jus

[2018-01-27 23:04] #1235 closed

[2018-01-29 01:22] 404157386 commented on #1231
i create the server.js your give, but also hit error
![image](https://user-images.githubusercontent.com/16297662/35489843-b674db8a-04d5-11e8-8a5b-c96f15b15163.png)

[2018-01-30 06:19] nguyenlamzx commented on #833
thanks, @urugator, it works fine

[2018-01-30 14:12] sepacraig commented on #1233
nodemon -v: 1.14.11
node -v: v8.94
Operating system/terminal environment: Win 7-64 bit

The following works ok for me

Windows Shell
`nodemon .\arrow-functions.js`

Bash Shell

`nodemon ./arrow-functions.js`

[2018-01-30 14:30] remy commented on #1233
Possible node@9 issue then?

On Tue, 30 Jan 2018, 14:12 Craig Adey, <notifications@github.com> wrote:

[2018-01-30 16:44] Starystars67 opened #1237 "update-notifier"
- `nodemon -v`: latest (installed today)
- `node -v`: 0.12.2
- Operating system/terminal environment:
- Command you ran: nodemon and nodemon app.js. This returns an error

### Expected behaviour

### Actual behaviour

### Steps to reproduce

---

If applicable, please append the `--dump` flag on your command and include the output here **ensuring to remove any sensitive/personal details or tokens*

[2018-01-30 16:46] Starystars67 commented on #1237
Damn, sorry was hoping I could attach a screenshot. It comes back with

' require(' update-notifier') ({pkg}). Notify () ;

Syntaxerror: unexpected token}

[2018-01-30 17:21] remy commented on #1237
Node 0.12.x isn't supported I'm afraid. Node LTS and upwards (node@4.x). Sorry.

[2018-01-30 17:21] #1237 closed

[2018-01-30 20:10] leninworld opened #1238 "web_1 | [nodemon] restarting due to changes..."
Nodejs detects the file changes, but will not restart. please help on this.

- `nodemon -v`: 1.14.11
- `node -v`: v9.4.0
- Operating system/terminal environment: MacOS Sierra 10.12.6
- Command you ran:
nodemon --delay 2500ms -L app/bin/www

### Expected behaviour
after any changes in the file, I expect nodeman to restart server and reflect changes

### Actual behaviour
Nodeman able to detect chang

[2018-01-30 23:12] remy commented on #1238
You're going to need to provide dockerfile and docker-compose files to replicate. Otherwise I can't replicate, and I can't help. Sorry (assume, rightly, that I know little-to-nothing about docker etc)

[2018-01-31 05:53] ninazhang commented on #1124
I had this issue,I fixed it by droppint down my node version to 6.12.0

[2018-01-31 11:03] zhenyulin commented on #1081
@remy I'm getting error

[code]
with the escape character, is a good way to fix it?

[2018-01-31 14:12] remy commented on #1081
I don't know what the content of your nodemon.json file is though…

[2018-01-31 17:06] errorx666 commented on #140
I'd like this to be reopened.

At least note the limitation in the docs.  I spent most of this morning trying to figure out why I wasn't seeing the SIGUSR2 signal in my app.

[2018-01-31 17:59] TinoSM commented on #296
For those trying to use it (I don't have the -I switch yet), you can also try with the command "screen" if your distribution has it (AWS has it), it opens a deattached shell which wont die even if your ssh dies (plus you can recover it later)

[2018-01-31 21:40] ryanburnette commented on #733
I tried to duplicate the behavior I was experiencing in a reduced test and I was unable to.

[2018-01-31 23:30] zhenyulin commented on #1081
@remy ah, here's my `nodemon.json` and the sublime json plugin reported invalid json:
[code]
[code]
on `nodemon@1.14.11`

[2018-01-31 23:37] zhenyulin opened #1239 "[question] is it possible to setup nodemon to execute multiple commands watching multiple corresponding file sources?"
was trying to achieve something similar by `npm-scripts-watcher` with nodemon
https://github.com/wehkamp/npm-scripts-watcher

[2018-02-01 02:09] jasonxia23 opened #1240 "[question]is there any reasons for unix globbing not supported in nodemon"
IMO, supporting unix globbing would make config clearer.
Is there any other reasons for unix globbing not supported in nodemon.

[2018-02-01 06:25] arvi commented on #1227
I am also experiencing this issue just now. I tried uninstalling nodemon and install it... However when I run nodemon it show

[code]

[2018-02-01 09:00] remy commented on #140
I'm not reopening a 5 year old issue. The code that caused this bug has long gone and it's extremely likely you're seeing something new. Can you file a new issue with full details on how to replicate, ideally with any investigation too.

[2018-02-01 09:11] remy commented on #1239
You can use `--exec "foo & bar & car"` to execute multiple commands from nodemon (though, this might not be compatible with Windows, you'll have to investigate yourself).

Other than using that method: no.

[2018-02-01 09:11] #1239 closed

[2018-02-01 09:13] remy commented on #1240
It's because the `watch` argument requires a string that represents a glob, otherwise if you use the shell glob, the result is multiple filenames after the `watch` option and nodemon doesn't know when to stop reading the file arguments and when it's hit the actual executable file (since it will look the same on the command line).

[2018-02-01 09:13] #1240 closed

[2018-02-01 09:15] remy commented on #1227
@arvi what version of node are you using? Node 6 LTS and above is supported. That error looks like you're running on an older version of node (that doesn't support that particular es6 syntax).

[2018-02-01 12:14] arvi commented on #1227
@remy I am running node 8.9.4 on an Amazon Linux AMI via `nvm`. I did verify via` nvm current` command and `node -v`

[2018-02-01 14:55] errorx666 commented on #140
@remy It looks like the issue was closed a month and a half ago as `wontfix`, so it didn't appear as though it was gone.  From the discussion, it sounds like the documented solution for a graceful shutdown of listening for a `SIGUSR2` signal is not actually supported on Windows.

Are you saying that this is no longer the case?

[2018-02-01 15:06] remy commented on #140
I've no idea, I use Windows on the odd occasion to debug nodemon issues, otherwise I'm a Mac user. So when windows issues come up, I've had to rely in the past on others to give me details.

The wontfix was because the issue was idle, and like I said, the code that the original issue was raised on doesn't exist due to redactors over the (five) years since it was originally raised.

But, as I said,

[2018-02-01 18:09] remy commented on #1233
I can't replicate this at all. I'm running the same powershell and version of node and cannot reproduce.

The screenshot you originally provided shows that powershell is claiming that it can't find node (the source of the error), and I suspect there's something bespoke about either your node setup or powershell setup.

This was my test:

![powershell-1233](https://user-images.githubusercontent.com

[2018-02-01 18:09] #1233 closed

[2018-02-01 18:32] remy commented on #1231
@404157386 can you try running `npm --version` and sharing the result?

[2018-02-01 18:43] remy commented on #1236
Quick update, found the source - running inside of nodemon is "normalizing" the path to the custom loader (which means the loader goes from `./custom-loader.mjs` to `.\custom-loader.mjs`) and this causes node to fail to load.

Investigating now if I can remove the line or not.

[2018-02-01 18:55] remy commented on #1236
Think I've got it. PR inbound.

[2018-02-01 22:47] #1234 closed

[2018-02-01 22:47] #1236 closed

[2018-02-02 01:03] 404157386 commented on #1231
@remy 5.3.0

[2018-02-02 01:41] sairoutine commented on #1234
Thank you!

[2018-02-02 02:27] nicolasparada commented on #1236
Thank you very much. It's working fine now 👏

[2018-02-02 17:15] remy commented on #1227
@arvi you're going to have to try to debug it yourself here, I'm pretty certain that syntax error which suggests the code can't be parsed. But from what I see, it's perfectly valid ES6.

To test, I'd suggest replicating everything in your running environment, then instead of running nodemon, use this script:

[code]

It's similar in the usage of the object property shorthand. I'd expect it to repl

[2018-02-02 17:17] remy commented on #1231
I'm kinda grabbing at straws, but is there any chance that you installed node via nvm for windows?

[2018-02-03 05:12] Nickersoft commented on #744
It's four months later and I'm still facing this same exact issue.. it's extremely aggravating and has been happening for some time. I too am on OSX (macOS Sierra).

[2018-02-03 07:35] remy commented on #744
@Nickersoft 4 months later than what? If there's an issue, can you file a new issue with full details on how to replicate and versions you're running and maybe I can use that information to fix it *or* you're very welcome to raise a pull request that fixes the issue, I'd be happy to merge it.

[2018-02-03 17:18] Nickersoft commented on #744
Hey, @remy I just commented because I saw this issue was already brought up but closed due to inactivity and I just wanted to reopen the discussion as opposed to having several duplicate issues (such as #1164 and #702). I didn't plan on making my post a full description of a new issue, but rather just a comment stating the original issue seems to still be recurring. Unfortunately, it's a situation

[2018-02-03 18:01] dlebedynskyi commented on #1235
yeah I felt like this is not an issue with nodemon directly. It is still a good to know issue since we got  it after update of nodemon.
Thanks for looking into this.

[2018-02-03 21:46] remy commented on #744
@Nickersoft can I suggest you raise a clean issue with what you're running. I've got a guess as to how and what you're seeing, but I want to see what you're seeing.

[2018-02-04 09:27] QuocCong commented on #1124
removing C:\Users\{YOUR USERNAME}\AppData\Roaming\npm
solve it for me

[2018-02-05 05:17] arvi commented on #1227
Figured it out. Even though, `node -v` and `nvm current` returns 8.9.4, it is using the node 0.12. I had to find where that is uninstall it and it finally worked. It turns out it is under .node-gyp tool whatever that is. Man, node can be so complex :sweat:

[2018-02-05 08:10] remy commented on #1225
Still waiting on Chokidar

[2018-02-05 11:18] dkfiresky commented on #1189
Imagine a situation when you need to install one package with a lot of dependencies and the screen fills with such "asking for donations" messages.

The time will come, and we would have adblockers for terminals, but for now you can run this:

[code]

There are many alternatives, which you can use freely, just remember that.

Not that I'm against your project, or I don't want to donate... actually

[2018-02-05 11:38] penx commented on #1113
Both of these issues are ReDoS so not relevant when running as a dev tool on a local environment AFAIK.

If you're hoping for these to be fixed regardless, you can use snyk patch, or follow these 2 PRs:

https://github.com/mapbox/node-pre-gyp/pull/299
https://github.com/mapbox/node-pre-gyp/pull/321

[2018-02-05 11:46] Ra1da35ma commented on #1238
so I get this ...
[code]

instead of this
[code]

[2018-02-05 11:56] IGZgustavomarin commented on #1189
@remy I said ***dozens of services***, a ***single project*** with lots of different services that use nodemon during development. Each commit that is merged to master triggers a build > test > deploy. During test phase, `nodemon` is installed (even its only used for dev, not tests) and **I get the banner on every commit, every pipeline**. I see this message hundred of times a day, for one project

[2018-02-05 13:21] remy commented on #1238
Again, I know nothing about docker compose, so I can't replicate this. Unless I get a PR for this or I get details on _how_ to replicate, I'll close in the next few days.

[2018-02-05 13:27] remy commented on #1189
Not supporting the project because it asks for support. Classy. I'm glad you've (all) got alternative tools to use, at least you're not stuck.

It's a bit of a shame that the only suggestions on this thread have been to remove the request for support, to complain or to just be a bit snarky. It's a shame no one has come up with a solution like…I don't know, maybe a PR that's smart that detects that

[2018-02-05 14:11] Ra1da35ma commented on #1238
I'm not using docker anyways..

see #763

[2018-02-05 14:15] leninworld commented on #1238
It works in windows, and not works in mac with same docker files. I downgraded the version of nodemon to see if it works. but , it never worked. I switched to supervisor instead of nodemon. I no more need this resolved. thanks!

[2018-02-05 14:26] #1238 closed

[2018-02-05 14:55] Janpot opened #1244 "Consider using the opencollective CLI to show donation banner"
In an effort to add constructive follow-up to #1189.

Would you consider replacing the banner with one that is generated by the [opencollective-cli](https://github.com/opencollective/opencollective-cli)?
First of all this would make it look prettier.
Second, if there is a future effort by the opencollective team to hide the banner when you're already a donor, it would automatically apply to this p

[2018-02-05 15:59] nodkz opened #1245 "Ability to avoid fork via config options (babel problem)"
I'm using `nodemon` in a script which started via `babel-node` in some complex dev environment.

In simplified view it looks like:
[code]

[code]

**So after several hours of debugging following error:**
[code]

**I found that you use `fork` for spinning up a script**

https://github.com/remy/nodemon/blob/33fa6f4970412a6bfa12ff357f44dfebf0ad63c7/lib/monitor/run.js#L68-L84

So i'm using `babel-node

[2018-02-05 16:11] dkebler opened #1246 "Does not exclude node_modules when watching parent to cwd"
- `nodemon -v`: 1.14.2
- `node -v`: 9.4
- Operating system/terminal environment: linux/xenial
- Command you ran:
`"node_modules/.bin/nodemon --require @std/esm --watch ../ examples/bus",`

### Expected behaviour

runs without issue

### Actual behaviour

the watcher is watching node_modules folders and throws errors

### Steps to reproduce

set up a two repos.  Fire up nodemon in one repo (cwd) bu

[2018-02-05 16:31] dkebler commented on #1025
Not running an express server but am running a nodejs net socket and having the same issue with nodemon -v: 1.14.2
node -v: 9.4

so maybe pr's mentioned above have not resolved this?

If nodemon doesn't crash it will restart on changes fine but if nodemon crashes or I need to terminate it then it leaves the socket running and I must `pkill node` before running nodemon again or else I will get the

[2018-02-05 17:47] Nickersoft opened #1247 "Occasional "port already in use" error on macOS"
- `nodemon -v`: 1.14.12
- `node -v`: 9.4.0
- Operating system/terminal environment: macOS High Sierra / zsh
- Command you ran:

[code]

This was my first attempt to update the Webpack build and restart the server simultaneously using [concurrently](https://www.npmjs.com/package/concurrently). I thought maybe concurrently was causing some issues, so I opted for the [Nodemon Webpack Plugin](https://

[2018-02-05 20:22] remy commented on #1244
Just on your points:

1. That's a subjective quality. I think (subjective) that the opencollective version is larger and more intrusive.
2. _if_ being operative, by the looks of the upcoming features, the focus is on a lot more interface that I wouldn't need embedded inside of nodemon. (I also try to keep my nested deps down where I can).
3. It doesn't move the conversation at all, sadly, because

[2018-02-05 20:22] #1244 closed

[2018-02-05 20:25] remy commented on #1246
Can you try [this](https://stackoverflow.com/a/32600959/22617) first. You're getting the `ENOSPC` error, so I did a quick google, and I wonder if that would solve the issue.

[2018-02-05 20:30] remy commented on #1245
Background reading to why fork exists is [here](https://github.com/remy/nodemon/issues/1025) (short version: fixed a lot of bugs).

I'm happy to take a PR that accepts a new argument `--spawn`, that forces the logic down the spawn pathway. You'll need to the following places (off the top of my head):

- https://github.com/remy/nodemon/blob/master/lib/cli/parse.js
- https://github.com/remy/nodemon/

[2018-02-05 20:31] remy commented on #1247
Just as a litmus test, are you able to replicate when *not* using concurrently?

[2018-02-05 20:34] remy commented on #1246
Another question (sorry, I found your issue a bit confusing to follow), when nodemon is failing on this:

[code]

[2018-02-06 01:43] 404157386 commented on #1231
Yes, I installed node via nvm.

[2018-02-06 03:19] Nickersoft commented on #1247
@remy Yes. I've since switched over to using the [Nodemon Webpack Plugin](https://www.npmjs.com/package/nodemon-webpack-plugin), and am receiving the same issue with the same frequency.

[2018-02-06 07:22] dkebler commented on #1246
no should not watch any files in a node_modules folder (that is supposed to be the default) and it does work normally when watched files are under the cwd.  But here I am asking to watch in a parent to cwd and that's where the issue arises.   FYI, After throwning those nodemon exists

[2018-02-06 07:25] dkebler commented on #1246
I can up the number of inoftify watches but it's only reaching that huge number because it's watching node_modules files.  My actual repo files in that parent only come to maybe 50 or so if their respective node_modules folders are excluded.

[2018-02-06 07:30] dkebler commented on #1025
not using babel but am using @std/esm    as in `nodemon --require @std/esm`

[2018-02-06 07:31] dkebler commented on #1246
assuming this deosn't happen for you using `--watch ../` could it then be using @std/esm ??

[2018-02-06 07:37] remy commented on #1246
Okay, I follow what's happening. node_modules are ignored relative from the root, so it's *including* those that are not hanging off the cwd.

I'll mark as a bug and take a shot at a fix when I have time, unless you raise a PR first.

[2018-02-06 07:47] heisian commented on #1025
I would try to first confirm that your child processes are indeed being forked and not spawned. If, form your child process you can successfully call:
[code]

...and in your parent can successfully receive the message:
[code]

then your process has indeed been forked with `child_process.fork` and should gracefully exit when the parent exits. If the above doesn't work, then your child process has b

[2018-02-06 12:58] Lucas-C opened #1248 ""ignored" custom/default pattern ignored under Windows"
- `nodemon -v`: 1.14.12
- `node -v`: v8.9.4
- Operating system/terminal environment: Windows 10 terminal with Cmder
- Command you ran: `nodemon ./src/server.js`

### Expected behaviour
Not so many logs

### Actual behaviour
Hundreds of log lines indicating that files under `node_modules/` are beeing watched:
[code]

### Root cause
Because `nodemon` use `chokidar` 2, it is affected by this bug that

[2018-02-06 15:08] remy commented on #1248
You're running with `DEBUG=nodemon:watch` right? So you've enabled deep debugging…?

[2018-02-06 15:15] Lucas-C commented on #1248
Yes, sorry, the issue is not so much with the verbose logging than with the fact that `nodemon` monitors the `node_modules` directory. Which it shouldn't given the default `ignored` patterns. And watching so many files may be detrimental to the performances.
Should I close this issue ?

[2018-02-07 05:25] dkebler commented on #1246
I'd like to tackle a PR but probably not going to happen.  Not a big deal at this moment but something nice to have when I am developing multiple dependent modules concurrently.   Can wait.  Thx

[2018-02-07 11:28] lensbart commented on #1225
I’m having the same (or a very similar) issue on macOS 10.13.3 — the node process stays at around 100% CPU for a prolonged time, after which it eventually drops to normal levels. My guess was that this would be due to indexing — perhaps `node_modules` — but the documentation says that `node_modules` is excluded by default, and including `--ignore node_modules` as suggested above doesn’t seem to wo

[2018-02-07 11:56] remy commented on #1247
Sorry, to clarify, are you able to replicate using nodemon directly? (ie. without any layers on top - just to rule out those layers).

[2018-02-07 11:58] remy commented on #1248
No, don't close the issue, but the actual issue, if I'm reading correctly is this:

I'll try to take a stab at it during the weekend, unless you're able to take a look and raise a PR.

[2018-02-07 13:15] Lucas-C commented on #1248
Yes, your description of the actual issue is correct.

As I mentionned, I think there is already a PR downstream to fix the underlying issue: paulmillr/chokidar#669

[2018-02-07 13:25] lensbart commented on #1225
@remy it seems to be a different issue still, as I’m not specifying a `--watch` option as is the case in the suggested link.

- `nodemon -v`: 1.14.12
- `node -v`: v8.9.4
- macOS 10.13.3
- tried commands `nodemon --ignore ./node_modules ./build/app.js`, `nodemon --ignore ../node_modules ./build/app.js`, `nodemon --ignore node_modules ./build/app.js` and `nodemon --ignore node_modules/ ./build/app.j

[2018-02-07 14:35] remy commented on #1225
@lensbart cheers for those, I've got a _very_ similar environment, so I'll setup a local test to see what's going on. It should _definitely_ be ignoring the `node_modules` directories. I might file a new issue for this if there's something going on (again, the issue we're commenting on here is directly linked to use on Window).

[2018-02-07 17:37] dkebler commented on #1246
BTW because of your log message in nodemon install I started participating in the open collective.  When they get paypal going even with some $, good idea that.  So no PR :-( but appreciate your efforts and try to repay with putting out useful repos made on the shoulders of projects like nodemon.

[2018-02-08 09:29] remy commented on #1231
Is it possible you're experiencing this issue: https://github.com/coreybutler/nvm-windows/issues/302

There's a workaround in the thread too: https://github.com/coreybutler/nvm-windows/issues/302#issuecomment-340249164 - could you try that and let me know how you get on?

[2018-02-08 10:01] Deilan opened #1250 "execArgs is being passed incorrectly"
- `nodemon -v`: 1.14.12
- `node -v`: 8.9.4
- Operating system/terminal environment: Windows 10 x64
- Command you ran:

`nodemon` with the following `nodemon.json`:
[code]
### Expected behaviour
`--inspect=5858` passed as an argument of `node`

### Actual behaviour
`--inspect=5858` passed as an argument of `ts-node`

terminal output:
[code]

### Steps to reproduce
1. clone https://github.com/Deilan

[2018-02-08 10:05] Deilan commented on #1250
If it's by design then how to pass arguments before `exec`, so they arrive as `node` arguments and not `ts-node`?

[2018-02-08 10:07] Deilan commented on #1043
For reference: it's been fixed in #1142.

[2018-02-08 10:35] remy commented on #1250
Shouldn't `ts-node` pass node argmenents along to node that it doesn't recognise? (The same way nodemon does)

[2018-02-08 11:33] remy commented on #1250
I'm going to close this as it's not a bug or anything I can do anything about. Specifically to understand, since you (the user) is telling nodemon to execute your script using `ts-node` nodemon has no idea that node is in the stack of execution anywhere. You might as well be running `grep` from nodemon's point of view.

So being able to pass arguments to node because you're running `ts-node` isn't

[2018-02-08 11:33] #1250 closed

[2018-02-08 23:24] daguej opened #1251 "Path resolution broken on Windows with 1.14.12"
- `nodemon -v`: 1.14.12
- `node -v`: 8.4.0
- Operating system/terminal environment: Windows 10

This breaks with the most recent version of nodemon:

    [nodemon] 1.14.12
    [nodemon] to restart at any time, enter `rs`
    [nodemon] watching: D:\project\path\server/**/*
    [nodemon] starting `node_modules/.bin/ts-node server/dev.ts`
    'node_modules' is not recognized as an internal or externa

[2018-02-09 10:14] dorothyDorothy commented on #1124
I found that I can use npm version 9.0.0 but I had to uninstall gulp-sass and then reinstall it.  All was fine after that

[2018-02-09 12:48] dannylewis-sheffield commented on #1247
Hi, I'm on a Mac and am also getting this issue even when using nodemon directly.

It looks like it's nodemon is not working as expected with the signal SIGINT

I've added the following to my Koa app to work around the issue, will work with others as well:

process.on('SIGINT', () => {
    console.log('do SIGINT');
    process.exit();
});

[2018-02-09 13:05] remy commented on #1247
@dannylewis-sheffield can you share exactly how you're running nodemon - and the version you're using?

[2018-02-09 13:10] remy commented on #1251
I can see what change is causing this, but I wanted to ask a couple of questions to get a bit more context:

1. How do you run `ts-node` without nodemon? Specifically: what is the command you use to get your dev server listening.
2. What terminal in Windows were you using? Command Prompt, Powershell, gitbash, etc…
3. What happens when you run `nodemon --watch server --exec node_modules\.bin\ts-nod

[2018-02-09 13:15] dannylewis-sheffield commented on #1247
@remy

from my package.json:
devDependencies section:
    "nodemon": "^1.14.12",

and in the scripts section:
    "startserver": "nodemon src/server/server.js --watch src --exec babel-node",

I've also got gulp scripts that do similar.  All fail without the SIGINT hack noted above, all work as expected with it.

[2018-02-09 19:22] andrewburgess commented on #1251
I'm running into this issue as well. Converting the path separators from `/` to `\\` in the `exec` parameter seems to fix the issue.

My original run script was:

`nodemon -e ts,graphql --exec \"./node_modules/.bin/ts-node --inspect=0.0.0.0:9229 --type-check packages/server/index.ts | ./node_modules/.bin/bunyan\"`

which is now failing to start

Changing the path separators to Windows ones so that

[2018-02-09 19:53] daguej commented on #1251
1. Don't really run without nodemon.  Our dev server is started using `npm start`; the `start` script in package.json is `nodemon --watch server --exec node_modules/.bin/ts-node -- server/dev.ts`.
2. cmd.exe (ConEmu)
3. It works.

Can't really change the path separators in the `start` script since that would presumably break it for my *nix colleagues.

[2018-02-09 20:04] andrewburgess commented on #1251
@daguej agreed, I was just pointing out that something changed between `1.14.11` and `1.14.12` with regards to path separator handling, and changing them can be a quick fix to prevent being stuck.

I switch between Mac and Windows often, so it's only a temporary solution for me as well

[2018-02-10 09:31] Nnanyielugo commented on #702
Problem still exists.

[2018-02-11 14:32] remy commented on #702
@Nnanyielugo then perhaps you can provide a reproducible example with code, or better yet, a PR to help resolve the problem you're seeing?

[2018-02-11 21:58] benjoun commented on #813
Hi!

I do have the same issue, with windows 10, when I make a change it says "restarting ..." but doesn't restart the server, see snapshot

![nodemon](https://user-images.githubusercontent.com/13507406/36079036-e8af2bb0-0f7e-11e8-9a48-1738ca6e038f.jpg)

[2018-02-12 05:58] imarotte commented on #1247
I've been having the same problem on windows 10

[2018-02-12 13:41] junajan opened #1252 "[new feature] Add timer so we know how long did the script run"
Hello all,
I am using `nodemon` together with `mocha` to run tests and restart them when I make some change in the code:
[code]

I was thinking that it would be nice to have there some flag which would enable a debug info at the end when the script ends - like how long did it run, what resources did it use, etc..

[2018-02-12 15:44] remy commented on #1252
That's very specific to mocha, but also node. There's no reason you couldn't run that program to inspect your exec target. Say this program is called "inspect-resources":

[code]

Then `before-exit` it would dump resources. In theory you could use heap dumps and some kind of coverage reporter… maybe?

Still, out of scope for this project (so am closing, but thank you for the suggestion).

[2018-02-12 15:44] #1252 closed

[2018-02-12 17:46] modikrunal202 commented on #895
Updated to v1.14.10 and I can't get the server restarted on file changes.

`$ nodemon -V --dump bin/www
[nodemon] 1.14.10
[nodemon] to restart at any time, enter `rs`
[nodemon] or send SIGHUP to 4136 to restart
[nodemon] watching: *.*
[nodemon] watching extensions: js,mjs,json
--------------
node: v9.3.0
nodemon: 1.14.10
command: C:\Program Files\nodejs\node.exe C:\Users\Krunal\AppData\Roaming\npm

[2018-02-12 17:51] modikrunal202 commented on #895
Updated to v1.0.1 and then to v1.0.4 and I can't get the server restarted on file changes.

[code]

I'm changing and saving app.js and other js files in subfolders and nothing happens (server is not restarting).

[2018-02-12 18:38] uDude commented on #1124
On Ubuntu, if you've installed your own copy of node you'll need to clean everything up.  So remove node and npm.  Then get rid of the node_modules directory...  in my case

[code]

For others use find or locate to discover where your node_modules directories may be:

[code]

I also removed my home `.npm` directory.

Note, it may be suitable to just remove the npm subdirectories from node_modules

[2018-02-12 18:53] remy commented on #895
@modikrunal202 this is a closed issue. Please review the other open windows issues to see if it matches and add to those threads.

[2018-02-13 08:41] remy commented on #1248
Doh, misread - but yeah, my PR had been merged, but not released. It got release just last week and I'm pushing a nodemon release this week to update.

I'm going to close this as a dupe of #1225 (so that it's tracked in a single place).

[2018-02-13 08:41] #1248 closed

[2018-02-13 11:28] kk7drift commented on #1233
I think the issue was with my setup

Once I updated my nodemon package to 1.14.12
I was able to run the file[filename having hyphen] with nodemon.

Thanks remy

[2018-02-13 11:48] remy commented on #1233
That's reassuring to hear 👍

[2018-02-14 09:11] prajapatim opened #1254 "Ubuntu: No valid versions available for AOS (Laravel Mix)"
First I run this command

- npm install

This is my log

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'install',
1 verbose cli   '--save',
1 verbose cli   'AOS' ]
2 info using npm@5.6.0
3 info using node@v9.4.0
4 verbose npm-session e673c5335f65c9bd
5 silly install loadCurrentTree
6 silly install readLocalPackageDa

[2018-02-14 15:26] igor-savin-ht opened #1255 "Cannot checkout sources on Windows"
Windows 10

### Expected behaviour

Nodemon sources can be checked out on Windows.

### Actual behaviour

Git checkout fails with error 'error: unable to create file test/fixtures/some\"file: No such file or directory'. One of test file names are not compatible with Windows

One possible way to address this would be not to store files in question in repo but create during test run on compatible pl

[2018-02-14 15:42] igor-savin-ht opened #1256 "Deprecated dependency used"
### Expected behaviour
Nodemon depends on up-to-date "coffeescript" dependency.

### Actual behaviour

Nodemon depends on "coffee-script" which is throwing deprecation warnings.

[2018-02-14 17:56] remy commented on #1256
For testing - which is fine for it's needs.

[2018-02-14 17:56] #1256 closed

[2018-02-14 17:57] remy commented on #1255
Can you add detail? I'm able to check out on windows myself (I've tested and fixed several bugs in windows because of it).

[2018-02-14 17:58] remy commented on #1254
I don't see how this is relevant to nodemon. It doesn't appear anywhere in your log, and you're not trying to install it. I'll close this issue for now.

[2018-02-14 17:58] #1254 closed

[2018-02-14 18:01] igor-savin-ht commented on #1256
@remy Problem is that it transitively comes to whatever project that depends on it and clutters console with warnings. Any particular reasons why update is undesirable?

[2018-02-14 18:02] igor-savin-ht commented on #1255
@remy What Windows version and what Git client are you using? Both TortoiseGit and SourceTree are failing for me and I'm trying to checkout in c:/sources, so nothing fancy.

[2018-02-14 19:23] kyleguate commented on #799
Not sure if you already discovered the solution but adding this to the nodemon config file worked for me:
[code]

[2018-02-15 21:57] #1245 closed

[2018-02-15 21:57] #1246 closed

[2018-02-15 21:58] #1225 closed

[2018-02-15 23:36] #1208 closed

[2018-02-16 10:36] froxCZ opened #1258 "nsp-check: Prototype pollution attack"
Hi everyone,
there is a problem with nsp-check due to hoek lib.

[code]

[2018-02-16 13:03] remy commented on #1258
Surprisingly unreadable.

Also, from the little I can actually read, it seems the vuln is on Chokidar (possibly deeper) rather than nodemon.

I may close this in lieu of the correct PR against the correct repo.

[2018-02-16 13:58] fabianMendez opened #1259 "Cannot read property 'toUpperCase' of undefined"
- `nodemon -v`: 1.15.0
- `node -v`: v8.9.1
- Operating system/terminal environment: Windows 7 x86 / CMD
- Command you ran: yarn start

### Expected behaviour
Restart without crashing

### Actual behaviour
Nodemon crashes when changes happen

### Steps to reproduce
1. yarn init -y
2. yarn add nodemon
3. Add `watch` script to package.json as follows: `nodemon --watch test.txt --exec echo \"Changed\"

[2018-02-16 14:57] pitops commented on #1247
I am having the same problem on macOS with latest nodemon

[2018-02-16 16:10] ACXgit commented on #1259
I'm experiencing the same issue under the same conditions (apart of using `npm` instead of `yarn`)

[2018-02-16 19:18] remy commented on #1259
I'll get on it. Thanks for reporting - I'll try to get a fix out very fast as it seems to be simple to replicate.

[2018-02-18 15:55] veaba commented on #1259
me too~~

[2018-02-19 11:39] GuilhermeMedeiros commented on #1258
The issue is on the `hoek` library. It was recently raised by NSP.
https://nodesecurity.io/advisories/566

[2018-02-19 12:55] junajan commented on #1252
Thanks for your response.. maybe some simple `... -x "time npm test"` will be enough for now

[2018-02-19 16:12] Janpot commented on #1244
@remy makes sense, though

1. If it were dismissible by donating, would be all the more incentive to actually make a donation.
2. It could be an optional dependency and fallback to the current behavior
3. One could argue that you're not using it for free after you donated. But I understand opinions differ on that. The thing is that right now, the discussions are already directed to this repo, with

[2018-02-19 16:15] remy commented on #1258
Sure, which is a deep dep of nodemon so can't be remediated directly. Suggest folks put their efforts in getting the deps to update the version, and if and a change is required to nodemon's package then I'll push it right away (though I partly suspect a carat range will automatically pick up the change).

[2018-02-19 16:15] #1258 closed

[2018-02-19 16:49] #1259 closed

[2018-02-19 16:51] remy commented on #1251
For reference (I suspect my own) this was the commit that caused this particular issue: https://github.com/remy/nodemon/commit/33fa6f4970412a6bfa12ff357f44dfebf0ad63c7

[2018-02-19 16:52] remy commented on #1247
@imarotte and @pitops are you using the same `startserver` as @dannylewis-sheffield or can you share how you're running nodemon so it's debuggable?

[2018-02-19 18:10] pitops commented on #1247
@remy I am using nodemon.json file with the following

[code]

npm start script is the following

`"start": ". .env && ./node_modules/.bin/ts-node ./src/index.ts"`

I am not using the same startserver as i needed to adjust it for typescript. Hope that helps!

[2018-02-19 20:25] remy commented on #1247
All - can you reply with whether nodemon is leaving the sub process running when nodemon restarts on file change, or is it also manual restart (using the `rs` command)?

[2018-02-19 21:10] remy commented on #1247
I can't replicate this at all. I'm on a Mac, high sierra, node@8.9.1 and nodemon@latest.

This is my index.js + package.json: https://gist.github.com/remy/56722fd5a16cc53c2e11622e4661e203

Download these two files, then run:

[code]

It'll restart the server via touching the index file every 2 seconds. I ran it for 20 minutes, and it didn't once leave the server open.

Is anyone able to replicate

[2018-02-20 01:51] ngerrity commented on #1255
I can confirm, same issue attempting to clone repo on Windows 10 using Git version 2.10.1.windows.1.

\ and " are both illegal characters in Windows filenames, which is why those 3 files are blowing up in test/fixtures/. If you clone the directory, cd into it and run "git checkout -f HEAD", you'll have the repo checked out, but it'll show you as having deleted the files that are not checked out. N

[2018-02-20 14:12] Noerdsteil commented on #1188
Still having this issue.
using nodemon 1.14.12, Webstorm on Mac OX High Sierra.
I am on node 9.5.0
In my app I am using recluster

Could you please provide further hints, how to solve this issue

[2018-02-20 15:03] Zakini commented on #1240
But if the patterns were quoted, you could use something like node-glob to parse the pattern yourself. It might not be quite the same but it should give roughly the same functionality.

[2018-02-20 15:55] remy commented on #1240
Patterns are supported once they're quoted.

[2018-02-20 15:56] remy commented on #1188
@Noerdsteil This is a closed issue, unless this thread helps you, you'll need to raise a new issue entirely.

[2018-02-20 16:30] Zakini commented on #1240
In that case, it's not at all clear that they're supported from the docs, but I guess that should be a separate issue.

[2018-02-21 07:11] maratmkhitaryan commented on #159
npm install nodemon
$HOME/node_modules/nodemon/bin/nodemon.js

[2018-02-21 14:30] staeke opened #1261 "Had to downgrade"
Sorry for a bad bug report. If you want me to provide more details or discuss this, pls let me know.

Just FYI really (you can close this if you want). I downgraded to 1.10 as described in https://github.com/remy/nodemon/issues/895 from latest version (1.14) and now it worked. 1.14 was all messed up and didn't restart until a LONG period had a elapsed and was then stuck between restarting and star

[2018-02-21 17:15] angularturk commented on #185
Also command below works fine;

pm2 start npm --watch --name=myapp -- start

[2018-02-21 17:50] remy commented on #1261
Sounds like an IO thing on the disk, and moving to 1.10 is possibly pre-chokidar. If that works for you, then it's cool. As you suggested, I'll close. Thanks all the same.

[2018-02-21 17:50] #1261 closed

[2018-02-21 19:29] heisian commented on #185
@angularturk that's a completely different module and doesn't provide any utility to this thread.

[2018-02-21 23:18] seromenho commented on #1050
Nice workaround! Thanks

[2018-02-22 09:38] remy commented on #1255
I'm thinking the best solution here is to generate these files within the tests when the platform isn't windows. This would allow for the project to be checked out and worked on.

[2018-02-22 11:40] CrackerakiUA opened #1262 "Custom livereload"
I want to create custom livereload and what i need, is to have a callback when any file change under the project, but also i want to restart the restart only on specific watch and to have specific ignore. That can be easly solve with what we currectly have is to manually restart the server with script check of files is changed and simply somehow disable restart.

[2018-02-22 11:42] AbdelrahmanHafez commented on #184
There's an issue with using `set NODE_ENV=DEV&& nodemon app.js` on windows, and that is it sets the NODE_ENV variable globally to DEV.

Correct me if I am wrong, but I expected something like `node NODE_ENV=DEV app.js` would work on the process only.

If not, is there any way I can achieve this without setting the variable globally? Like on this process only.

[2018-02-22 11:43] remy commented on #1262
I'd suggest using nodemon as a required module and you'll have the control you want from the [events](https://github.com/remy/nodemon/blob/master/doc/events.md)

[2018-02-22 11:43] #1262 closed

[2018-02-22 11:45] remy commented on #184
@AbdelrahmanHafez no, that second example wouldn't work in Windows at all. On Windows, IIRC, you set the environment variable for the single session, but it does affect the lifetime of the session (so not really "global"). Otherwise, you'll want to do some reading around Windows handling of environment variables (I suspect this thread is a bit off topic for what you're after)

[2018-02-22 11:50] CrackerakiUA commented on #1262
I have seen those events, how can i disable the restart of the server?

[2018-02-22 11:57] AbdelrahmanHafez commented on #184
Thank you, will read some about the subject.

[2018-02-22 12:01] remy commented on #1262
I'm not sure you can. But you _can_ only restart on a specific watch list (or inversely ignore files).

[2018-02-22 12:02] CrackerakiUA commented on #1262
My post was about that feature.

[2018-02-22 12:14] CrackerakiUA commented on #1262
Like i said, i need to check if any file is changed in the project, but i don't need restart on any file change. So i would like to restart manually, you have that option, and somehow disable the automatically restart.

[2018-02-22 12:48] remy commented on #1262
I think being able to prevent the restart event has been looked at before, but it didn't really get anywhere.

If it's what you're after, I think I've got an idea as to how you could handle it. Something like this added to the [first line of `restartBus`](https://github.com/remy/nodemon/blob/1cda8fae4333f3e37c54d0923d99b9132fb6a010/lib/monitor/watch.js#L203):

[code]

Then in your user code, you'd

[2018-02-22 14:02] CrackerakiUA commented on #1262
Checking it.

[2018-02-22 14:16] CrackerakiUA commented on #1262
Yes, but i am using nodemon in many computer, so i need something without the package. This will not work for PR.
Prefferably something like
[code]

[2018-02-23 16:40] eilgin opened #1263 "Should nodemon pass `--inspect` (et al) to node automatically?"
- `nodemon -v`: 1.15.1
- `node -v`: 8.9.4
- Operating system/terminal environment: MacOS
- Command you ran: nodemon --inspect

### Expected behaviour
Expect to run `node --inspect index.js`. It should work without specifying the default JS file (`nodemon` should look for the file defined in "main").

### Actual behaviour
It runs `node index.js --inspect` which doesn't start the debugger. It works

[2018-02-23 23:20] kkorus opened #1264 "Delay first start of nodemon"
So it is possible to delay nodemon restarting by using `--delay`, but is it possible to delay just first start of nodemon and then have restarting without delays?

[2018-02-24 15:01] stockholmux opened #1265 "Nodemon interferes with reading keypress events"
- `nodemon -v`: 1.15.1
- `node -v`: v6.9.4
- Operating system/terminal environment:  macOS 10.12.6
- Command you ran: `nodemon index.js` (see below)

### Expected behaviour
Nodemon will not interfere with keypress events on scripts being executed/watched.

### Actual behaviour
In a script that uses [chjj/blessed](https://github.com/chjj/blessed) ran under nodemon, keypress events are not generated

[2018-02-26 05:11] zoiew opened #1266 "zsh:command not found:nodemon"
when i have installed nodemon,i excuted nodemon server.js,but my computer report an error : zsh:command not found:nodemon.
why,what should i do,you had better express in Chines if you can,thank you

[2018-02-26 06:16] Sawtaytoes opened #1267 "Pretty output when using through Node.js API"
- `nodemon -v`: 1.15.0
- `node -v`: 8.9.4
- Operating system/terminal environment:  Windows 10 64-bit using Cmder in `cmd` mode.
- Command you ran: `nodemon .` vs `node .`

### Expected behaviour
I get pretty print output and CLI colors when using Nodemon from the console.
[code]

### Actual behaviour
No output except what I've configured myself when using the `.on()` listener functions.

### Step

[2018-02-26 07:11] remy commented on #1266
Recommend uninstalling nodemon and possibly npm and reinstalling both. This doesn't really seem like a nodemon issue (so closing). Happy to reopen with more information or specific details how this is nodemon.

[2018-02-26 07:11] #1266 closed

[2018-02-26 13:22] Bastorx opened #1268 "Nodemon should use node locally"
# **Feature Request**

- `nodemon -v`: 1.15.1
- `node -v`: 9.5.0
- Operating system/terminal environment: MacOS Sierra
- Command you ran: npm run dev
Script in package.json
`"dev": "nodemon index.js"`

### Expected behaviour
nodemon should use local node

### Actual behaviour
nodemon use node installed globally

### Steps to reproduce
https://twitter.com/housecor/status/962347301456015360

Watch t

[2018-02-26 15:22] remy commented on #1268
This is actually the same issue as when someone wants to use npm's auto resolving commands in `.bin`.

I wonder if `npx` has a module that does the resolution quickly…

[2018-02-26 16:08] brkc opened #1269 "Restart is not triggered for files in a directory."
- `nodemon -v`: 1.15.1
- `node -v`: v8.9.4
- Operating system/terminal environment: Windows 10 Pro x64 / cmd
- Command you ran: `nodemon -C --watch broken\touchme.txt --exec "echo changed"`

### Expected behaviour
When I change the file, it prints "changed".

### Actual behaviour
It does not print "changed".

---

This works in 1.14.12.

[code]

It does nothing in 1.15.1.

[code]

[2018-02-26 16:30] remy commented on #1269
I think this might be a dupe issue. Don't have my laptop to hand to confirm though.

[2018-02-26 16:45] Bastorx commented on #1268
Edit: I should precise that I use nodemon inside a script in my package.json (so the auto resolve for nodemon works well). It's only the auto resolve of node which fail.

[2018-02-26 16:46] brkc commented on #1269
In any case, here's some additional debug info in case it's helpful.

1.14.12

[code]

1.15.1

[code]

[2018-02-26 21:51] remy commented on #1267
Can you give me full details on how to replicate? I tried your code above without changes, and the first obvious missing part is that nodemon isn't required at all - so I'm suspecting I'm getting a snippet rather than a replicable example.

If you can send me that, I can take a look.

[2018-02-26 21:54] remy commented on #1265
Via `nodemon --help options`:

[code]

Using `nodemon -I index.js` works.

[2018-02-26 21:54] #1265 closed

[2018-02-26 22:08] remy commented on #1265
The next release will make it clearer in `nodemon --help` where there are more options (since I don't think it was entirely clear from the current help):

<img width="945" alt="screen shot 2018-02-26 at 22 08 11" src="https://user-images.githubusercontent.com/13700/36698367-95873bac-1b41-11e8-8ea1-f62ba2bbfb64.png">

[2018-02-26 22:10] remy commented on #1263
Question: how does nodemon know that `--inspect` should go to the exec and not your script?

[2018-02-26 22:11] remy commented on #1264
Maybe with `sleep 10 && nodemon`? Otherwise, not through nodemon's existing flags, no.

[2018-02-26 22:11] #1264 closed

[2018-02-26 22:13] remy commented on #1269
Going to close this as a dupe of #1251. Your reported error is pretty much the same, and I'm pretty certain it's caused by the same code change, so if you don't mind, we'll track it there 👍

[2018-02-26 22:22] remy commented on #1255
lol, just realised my reply 5 days ago, is exactly what @igor-savin-ht suggested (sorry, I read your issues whilst walking to my car!!!)

[2018-02-26 22:40] remy commented on #1251
Better/simpler example on how to replicate from issue #1269 here:

[code]

On cmd / Windows 10 via @brkc

[2018-02-26 22:50] eilgin commented on #1263
I only found this in the [README](https://github.com/remy/nodemon#usage) (which i believe is also the only doc):

Moreover it says later that the "`inspect` flag [is passed] to node" so i'm confused by your question since the default behavior **seems** to use the "main" value from `package.json` (if found) and `--inspect` is a flag passed to the executed `node` process therefore `nodemon --inspect

[2018-02-26 23:02] remy commented on #1269
…hmm, actually, I'm going to re-open this issue. I'm digging more into the detail you've included and I'm starting to believe this isn't a dupe, but something else.

[2018-02-26 23:07] remy commented on #1263
The `main` value is used, but the problem is quite subtle. Firstly, the `exec` may not be node, other developers might be using a different tools, so I can't assume to pass `--inspect` to the exec.

Equally, I'd have to (to my knowledge) manually maintain a list of node arguments and filter for them and pass them across if present. Other tools (and nodemon) have tried this in the past, but when ne

[2018-02-26 23:11] remy commented on #1263
Thinking aloud (as it were), _maybe_, if there's no script arguments to nodemon, it should pass everything (in order) to the `exec` process.

This would solve the issue of edge cases like if something like `--zero-fill-buffers` isn't hardcoded. And if you want to stop slurping args, you can use the double-dash method.

ie, this would be possible:

[code]

Thoughts?

[2018-02-26 23:16] remy commented on #1269
@brkc I've just pushed a tweaked version with a minor change, but windows specific. In lieu of me getting my windows machine running tomorrow, can you give it a test using `npm i -g nodemon@debug` - it should resolve with nodemon@1.15.2-alpha.1 - and just repeat your test case.

[2018-02-27 00:21] bcoffman-ebsco commented on #1269
1.15.2-alpha.1 is triggering the restart on file change. However, it seems  the `-C` option is broken and executing on startup now.

[code]

[2018-02-27 00:30] remy commented on #1269
Okay, I think I know what the `-C` change is - I tried to change too much in one go (to make it test'able, but I don't think I needed it anyway).

I'll tidy it up and package for release tomorrow.

[2018-02-27 08:25] eilgin commented on #1263
I like the idea of the `--`. It feels in accordance to the unix tools 👍

[2018-02-27 08:46] igor-savin-ht commented on #1255
Np, thanks for the fix!

[2018-02-27 09:34] remy commented on #1263
@eilgin nodemon has always supported the `--` flag, to avoid slurping up args that nodemon used and your scripts used - just making sure it works for the arg-less invocation too.

[2018-02-27 10:18] remy commented on #1251
[deleting my previous comment as it was incorrect]

[2018-02-27 10:25] eilgin commented on #1263
I didn't know that, i've started using `nodemon` only 2 days ago 😄

[2018-02-27 11:30] remy commented on #1267
Okay, I got there in the end.

You need to use the [documentation](https://github.com/remy/nodemon/blob/master/doc/events.md#messages) and use the `colour` prop if you want colour output:

[code]

[2018-02-27 11:30] #1267 closed

[2018-02-27 13:13] stockholmux commented on #1265
Thanks! I kinda expected there to be an option to do this.

And yeah, I did run `--help`, but I totally didn't expect to literally run `nodemon --help options`. It currently doesn't look like one command.

Underlining helps from your screenshot, but it might be more visible as a single command with double quotes around it but YMMV.

Great work on nodemon, btw.

[2018-02-27 13:23] Bastorx commented on #1268
`#!/usr/bin/env node`

Another problem is that nodemon use node to be executed...

I'm trying to use node and nodemon in a container (docker) where node isn't installed globally.

`"start": "node index.js"` **Work**
`"dev": "nodemon index.js"` **doesn't work**

I think it's due to the shebang but I don't know if there is a way to fix it...

[2018-02-27 13:28] remy commented on #1268
Hmm, but `/usr/bin/env` should pick up that npm has introduced `node_modules/.bin` to the `$PATH` so I'm not quite sure _why_ it wouldn't work…

[2018-02-27 13:31] Bastorx commented on #1268
`

`

[2018-02-27 14:13] Bastorx commented on #1268
_Edit: Ignore it. The shebang works, it was another problem with my environment..._

[2018-02-27 16:42] #1263 closed

[2018-02-27 16:43] #1255 closed

[2018-02-27 16:43] #1251 closed

[2018-02-27 16:44] #1268 closed

[2018-02-27 17:32] dhffdh opened #1276 "UnhandledPromiseRejectionWarning"
- `nodemon -v`: 1.17.0
- `node -v`: v8.9.4
- Operating system/terminal environment:
- Command you ran: nodemon server.js

[nodemon] 1.17.0
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: *.*
[nodemon] starting `node server.js`
TypeError: Assignment to constant variable.
    at Object.run (D:\WORKING\projects\mongosse-lesson-1\node_modules\nodemon\lib\monitor\run.js:70:8)
    at D:

[2018-02-27 17:33] remy commented on #1276
So…should I just ignore the "what the fuck" part? And try to fix your bug instead?

[2018-02-27 17:35] #1276 closed

[2018-02-27 17:36] remy commented on #1276
Fixed being deployed to 1.17.1 now: https://travis-ci.org/remy/nodemon/builds/346891485

[2018-02-27 18:09] Odrinwhite commented on #1276
How did you manage to have that const assignment in production code?

[2018-02-27 19:26] remy commented on #1276
No idea. Particularly as there's so many tests. I did notice that they tests went a bit weird and release 3 tagged versions, so _maybe_ they did some kind of weird run. Again, no idea. It should have passed tests.

[2018-02-27 23:43] Odrinwhite commented on #1276
Well shit happens, keep up the good work : )

[2018-02-28 05:18] dhffdh commented on #1276
Soo, What do I need to do to make the code work?

[2018-02-28 05:34] ORESoftware commented on #143
Are there hooks we can put in `nodemon.json` instead of npm scripts?

[2018-02-28 05:48] ORESoftware opened #1277 "If restart script exits with > 0, do not restart main script"
- `nodemon -v`: **1.17.1**
- `node -v`: **9.2.0**
- Operating system/terminal environment:
- Command you ran:

I have this in `nodemon.json`:

[code]

In my restart.sh, I have:

[code]

### Expected behaviour
I would expect that if the restart.sh script exits with 1 instead of 0, that my main script would not get executed. Nodemon would wait for another "rs" or file change event to retry.

### Act

[2018-02-28 07:37] remy commented on #1276
Bump to latest 1.17.1

On Wed, 28 Feb 2018, 05:18 dhffdh, <notifications@github.com> wrote:

[2018-02-28 08:09] remy commented on #1277
I'd recommend you capture the exit code and manipulate before it goes to nodemon using this technique: https://github.com/remy/nodemon/blob/master/faq.md#error-process-failed-unhandled-exit-code-2

I'm going to close the issue because I believe this is fairly solid solution (I've used it myself in some cases).

[2018-02-28 08:09] #1277 closed

[2018-02-28 14:46] Sawtaytoes commented on #1267
This was example code to detail the process I'm using. Colors weren't the issue so much as there was no logging info unless I setup `.on()` listeners.

Are you saying if I use `.on('log', ({ colour }) => console.log(colour))`, it will do the pretty output that Nodemon normally has when the `log` listener is fired?

[2018-02-28 14:53] remy commented on #1267
Yup

On Wed, 28 Feb 2018, 14:47 Kevin Ghadyani, <notifications@github.com> wrote:

[2018-02-28 22:52] brkc commented on #1269
Sorry, forgot to close this for you. Looks good!

[2018-02-28 22:52] #1269 closed

[2018-03-01 10:10] efidje opened #1278 "Issue with using nodemon"
- `nodemon -v`: 1.17.1
- `node -v`: 8.9.4
- Operating system/terminal environment: Windows 10 / Cmder
- Command you ran: nodemon www

### Expected behaviour
Followed this youtube tutorial;
https://www.youtube.com/watch?v=bf8L9tQi_MQ
At 12:55 into the video the instructor is targeting a different route and gets the expected response in the browser.

### Actual behaviour
With nodemon running, I get

[2018-03-01 10:50] remy commented on #1278
I've not looked at the video (yet), but are you able to provide code to replicate what you're seeing?

[2018-03-01 10:51] #1231 closed

[2018-03-01 16:31] efidje commented on #1278
Hi Remy,

I have not looked further into it. I've just been following some
tutorial videos on Node.js programming where they have used nodemon.
It's worked fine up till now and I'm not sure if it is actually
nodemon that's at fault, could maybe be the browser. It was the first
time I noticed a difference between running node versus running
nodemon with a xxxx.js file

Regards

On 3/1/18, Remy Shar

[2018-03-01 20:38] joekaiser opened #1279 "nodemon seems to hang when using the --inspect flag and --exec ts-node"
- `nodemon -v`: 1.17.1
- `node -v`: 8.9.4
- `ts-node -v`: 5.0.0
- `typscript -v`: 2.7.2
- Operating system/terminal environment:  windows(x64) cmd
- Command you ran: `nodemon --inspect --watch src/**/* -e ts,json --exec ts-node ./src/server.ts`

### Expected behaviour

The server is started and the inspector is available for a debugger to attach to.

### Actual behaviour

nodemon seems to 'hang' w

[2018-03-01 20:51] joekaiser commented on #1279
sorry, this is a change with ts-node (I think)  https://github.com/TypeStrong/ts-node/issues/537

[2018-03-01 20:51] #1279 closed

[2018-03-01 21:34] markbirbeck commented on #627
In case anyone else arrives here in 2018 onwards, it's still an issue with Mocha. The two solutions proposed that change the error code both work:

[code]

or:

[code]

Perhaps a command-line option to tell `nodemon` to ignore the error code would work?

(Sorry I don't have time to do a PR at the moment, but perhaps in a month or so!)

[2018-03-01 21:49] remy commented on #1278
If you can provide example code and the commands you're running then I
might be able to give you a better answer.

On Thu, 1 Mar 2018, 16:31 efidje, <notifications@github.com> wrote:

[2018-03-01 21:49] remy commented on #1279
👍

On Thu, 1 Mar 2018, 20:51 Joe, <notifications@github.com> wrote:

[2018-03-02 16:05] littleski opened #1280 "issue with nodemon"
- `nodemon -v`:1.17.1
- `node -v`: 6.13.1
- Operating system/terminal environment:  mac os
- Command you ran: gulp serve

### Summary

Last version of nodemon is causing me issues. It may be due to gulp-nodemon not being up to date in its use of nodemon, or in nodemon itself. I will try bypassing gulp-nodemon to check, but it really feel like something has been broken down.

It was working nicely

[2018-03-02 17:18] remy commented on #1280
Sorry, but believe it or not, I've don't use (and haven't used) gulp, so can you provide at least a package.json file so that I can actually replicate?

[2018-03-02 22:01] arthurwhite opened #1281 "--watch nulls --ignore for subdirectories created after starting nodemon"
Seems related to #574.

### Steps to reproduce

1. Create a dummy server (*server.js*) inside a directory (*dist*):
  `mkdir dist && touch dist/server.js`

2. Set nodemon to only watch the directory (*dist*), but ignore a subdirectory that doesn't yet exist (*dist/public*):
  `nodemon --watch dist --ignore dist/public dist/server.js`

3. Create the subdirectory that should be ignored (*dist/public

[2018-03-03 11:41] remy commented on #1281
I'm not 100% I can provide a fix (internally) for this, but if the `dist/public` directory is in place _before_ you start nodemon (and it can be empty), then it won't restart.

Behind the scenes, it's because nodemon is using chokidar library to watch for changes, and "ignore" means don't want for changes in this directory. Since the directory doesn't exist, chokidar doesn't have to do anything, b

[2018-03-03 16:40] arthurwhite commented on #1281
That's what I resigned myself to doing.

Previously, I wanted to directly run parallel watching tasks with nodemon and webpack for this project structure:
[code]
But as webpack creates `dist/public` after nodemon starts to watch `dist`, I must always be sure that the entire project is built before starting watchers.

If no solution exists, I think we can close the issue.

[2018-03-03 19:28] remy commented on #1281
Okay, your webpack use makes sense. Let me take a look at the chokidar docs in a bit more detail to see if there's anything I've missed.

[2018-03-03 22:40] Stradivario commented on #349
I have the same issue with node 8.9.0 ubuntu 17.10

I will post some more details when i get them regards

@remy

[2018-03-03 23:15] remy commented on #349
Thanks. Do make sure it's on a new issue as I (try) to have a policy of
leaving closed issues alone.

On Sat, 3 Mar 2018, 22:40 Stradivario, <notifications@github.com> wrote:

[2018-03-04 03:12] lovett opened #1282 "Nodemon process started from tmux resists death"
When I start `nodemon` within a `tmux` session on macOS, the nodemon process lives on after the tmux session has been killed. I can't get `nodemon` to die unless I specifically kill it.

I'd instead like to persuade `nodemon` to die like other processes do when the `tmux` window they started from is killed.

I'm using `nodemon` v1.71.1, `node` v9.5.0, `tmux` 2.6, and `macOS` 10.13.3.

Here's an ex

[2018-03-04 13:51] alexilyaev opened #1283 "Regression: Watching too many files"
- `nodemon -v`: `1.15.1` and `1.17.1`
- `node -v`: `v9.6.1`
- Operating system/terminal environment:  Mac OS X 10.12.6, iTerm

### Expected behaviour

Should watch only the files set in `--watch` or `watch` config in `nodemon.json`

### Actual behaviour

Watches many files beyond the defined directories and files

### Steps to reproduce

#### `1.14.12`

https://github.com/alexilyaev/express-github

[2018-03-04 14:00] RohitoOo commented on #1029
Clearing the cache did not work for me.

[2018-03-05 00:39] theiajs commented on #947
I've come across this issue when trying to run nodemon while another process (ts-node) ran a script. Even though the source files are not modified (but their access times have been), nodemon still restarts.

[2018-03-05 00:39] Hoten commented on #947
I've come across this issue when trying to run nodemon while another process (ts-node) ran a script. Even though the source files are not modified (but their access times have been), nodemon still restarts.

[2018-03-05 09:10] littleski commented on #1280
in package.json, have :
    "gulp": "^3.9.1",
    "gulp-nodemon": "^2.2.1",

gulpfile.js, something like this should do the trick
[code]

If you want to test with 14.1.1, you can add
    "nodemon": "=1.14.11", to package.json
and change the gulpfile to

[code]

I use this workaround for the moment to resume working, since we use nodemon only in dev.

[2018-03-05 09:56] tynorr commented on #813
Hi Ramy!
Nodemon still cannot start automatically.

- [nodemon] 1.17.1
- [nodemon] to restart at any time, enter `rs`
- [nodemon] watching: *.*
- [nodemon] starting `node app.js`
- Slm Blue, server tarafından dinlenilen port : 3000
- [nodemon] restarting due to changes...

`

[2018-03-05 10:23] remy commented on #813
You'll need to raise a new issue if you're experiencing problems (as this original issue was raised 48 months ago and the code has long changed).

[2018-03-05 11:25] brookback commented on #1247
I'm on

- High Sierra 10.13.2
- Nodemon 1.17.1
- Node 8.9.4

I get this for every time I'm saving a .js file:

[code]

The `nodemon.json` is

[code]

My start command is simply:

[code]

in the repo root. Doing a `ps aux` gives:

[code]

So it's indeed running after being stopped by `ctrl+c`.

[2018-03-06 10:28] srcspider opened #1284 "Vulnerable dependencies; problematic for local installs"
- `npx nodemon -v`: 1.17.1
- `node -v`: v8.9.3
- Operating system/terminal environment: ubuntu 16.04
- Command you ran:  n/a

**Steps to Reproduce**

[code]

Links:
 - https://www.npmjs.com/package/npx
 - https://www.npmjs.com/package/nsp

### Expected behaviour

Output of `npx nsp` should be something along the lines of
[code]

### Actual behaviour

[code]

Seems you need to update this `hawk` pa

[2018-03-06 11:53] remy commented on #1284
I'd rather the issue was raised with proper investigation… "seems you need to update hawk package" isn't the case.

Hawk is at 7, but hawk@3 is used by [node-pre-gyp](https://snyk.io/test/npm/node-pre-gyp?severity=high&severity=medium&severity=low).

You can track the _actual_ vuln update here: https://github.com/mapbox/node-pre-gyp/issues/346

Closing, but as soon as the update is pushed to the d

[2018-03-06 11:53] #1284 closed

[2018-03-07 00:44] tresdev commented on #1109
Updating git bash to 2.16 fixed this.

[2018-03-07 08:06] Valeronlol opened #1286 "After updating the package I get an error."
Hey!
After being updated to the latest version(1.17.1) from 1.15.1 started to receive this error.
_"Cannot read property 'length' of undefined
   at  node_modules/nodemon/lib/config/load.js:74:60
   at callback (node_modules/nodemon/lib/config/load.js:174:5)
    at settings (node_modules/nodemon/lib/config/load.js:227:5)
    at callback (node_modules/nodemon/lib/config/load.js:174:5)
    at node_m

[2018-03-07 08:39] remy commented on #1286
Regression here: https://github.com/remy/nodemon/commit/e41f3c3aad148b3b283df1c579ff9e99071ff49d#diff-9c0e28fe64a496221bd5abcc39da4b43R74

[2018-03-07 09:09] remy commented on #1247
@brookback can you provide an `app.js` that replicates this problem?

[2018-03-07 09:52] remy commented on #1282
I'm not entirely familiar with the inner workings of tmux, but do you know what kill signal tmux uses to end the child processes when it closes?

[2018-03-07 11:09] immoksh commented on #602
It can be solved by installing globally.
`npm i -g nodemon`

Even I got that issue when I was installing it in my local project.

[2018-03-07 16:57] pthoresen commented on #1247
I was experiencing this situation as well and I could not replicate it at all outside of one single project. it wound up being a rogue `nodemon` process that was competing with my primary `nodemon` process. It seemed to flip between each of these processes to determine which one "won" and which one received the port in use error, which is why the issue seemed to occur somewhat randomly. I suspect

[2018-03-07 18:09] artemv commented on #1124
Following worked fine for me (needs yarn to be installed):
[code]

[2018-03-07 21:21] lovett commented on #1282
I think it's `SIGHUP`, based on a casual looking-around, but I claim no particular authority on that.

I did come across [a similar discussion](https://unix.stackexchange.com/questions/88725/how-to-terminate-tmux-session-and-processes-it-spawned) which suggests this behavior isn't unique to nodemon.

I'd like to subtract `tmux` from the equation, however, because I can replicate the behavior witho

[2018-03-07 22:14] remy commented on #1282
A `SIGHUP` (as far as I understand) is simply a single int signal to the process, so no, I don't think there's a way to distinguish.

Nodemon does actually trap `SIGHUP` to tell the child process to restart, so I suspect that's why nodemon is still running after tmux ends.

If you run a daemon process in tmux (that would restart with a `SIGHUP`) how would the process know to end when the tmux sess

[2018-03-07 22:16] remy commented on #1282
Oh wait, I misread your part about running without tmux.

I'm pretty sure, if the process is still attached to the session, if you close s terminal session, it'll send a `SIGTERM` - I'd like to double check this on my own machine tomorrow but I'm 99% sure that's the case which might mean there's something else at play here.

[2018-03-08 07:47] brookback commented on #1247
@remy Can't sadly repro outside my main production app :/

But as @pthoresen mentioned now, I also think it was due to running `concurrently` module, and some rogue nodemon process was lingering. The port issue never came up until I started using `concurrently` to run an Express server and watching frontend files with Gulp at the same time.

[2018-03-12 15:27] simpss opened #1290 "Regression: nodemon not restarting, but detecting changeg"
This seems to be a regression. It was fixed in https://github.com/remy/nodemon/issues/813 a couple months ago.

- `nodemon -v`: `1.17.1`
- `node -v`: `6.13.1`
- Operating system/terminal environment: debian stretch
- Command you ran: `./node_modules/.bin/nodemon --exitcrash --exec ts-node -- ./src/index.ts`

### Expected behaviour
nodemon should restart when a change is detected

### Actual behavi

[2018-03-12 15:37] simpss commented on #1290
Turns out, silly me only updated the global version of nodemon, not the project one and made the same mistake again in the reproduction repository.

[2018-03-12 15:37] #1290 closed

[2018-03-12 18:14] marcospgp opened #1291 "Complete ignore path documentation"
I'm trying to ignore all `.json` files under a particular directory, including all subfolders.

Will this work?

`"nodemonConfig": {
    "ignore": [
      "example/**/*.json"
    ]
  },`

If possible, please update the readme with this information.

Thank you very much for all your hard work!

[2018-03-13 10:02] debuc opened #1292 "Error while requiring nodemon in the node repl"
- `nodemon -v`: 1.14.12
- `node -v`: 8.4.0
- Operating system/terminal environment: macOS / zsh
- Command you ran: require('nodemon')

### Expected behavior
It should require nodemon successfully

### Actual behavior
It was crashing with cannot read property 'index of' of null error

### Steps to reproduce
1. run node
2. require nodemon

###Output
TypeError: Cannot read property 'indexOf' of null

[2018-03-13 21:45] #1283 closed

[2018-03-13 21:46] #1286 closed

[2018-03-13 21:56] remy commented on #1291
I'm not sure if that rule will work without spinning up the directory and testing it…which I suspect you might be able to confirm faster than me.

Re: updating the readme - is there something incorrect in there, or are you just suggesting adding?

[2018-03-13 23:11] marcospgp commented on #1291
I tested it and it seems to work, how is the ignore path handled under the hood?

Also yes, I was suggesting adding 😄

[2018-03-14 10:38] remy commented on #1292
Can you replicate with latest nodemon@1.17.x?

[2018-03-15 10:26] darky opened #1294 "nodemon 1.17.2 not working, 1.17.1 ok"
- `nodemon -v`: 1.17.2
- `node -v`: 9.8.0
- Operating system/terminal environment: Arch
- Command you ran: nodemon -e ts,js,tsx,jsx,jade --inspect=9229 ./bin/www

### Expected behaviour
It working

### Actual behaviour
Not working

### Steps to reproduce
Simply try, maybe it only on Arch linux

[2018-03-15 12:34] debuc commented on #1292
Yeah sure

[2018-03-15 12:46] debuc commented on #1292
This bug is there in 1.17.2 also... I have updated it

[2018-03-16 03:15] skout90 commented on #744
my os ubuntu min 18.3
I guess that node needs time to kill process.

my temporary method is to start nodemon delay

[2018-03-16 05:53] kimhyoungnam opened #1295 "nodemon error... module.js : 549"
when I start nodemon on window 10,
I'm using nodemon v1.17.2, node v8.10.0,

module.js:549
    throw err;
    ^

Error: cannot find module 'C:\projectFile\nodemon'
            at Function.Module._resolveFilename (module.js:547:15)
            at Function.Module._load(module.js:474:25)
            at Function.Module._runMain (module.js:693:10)
            at.bootstap_node.js:609:3

I already no eve

[2018-03-16 06:25] remy commented on #1295
Please provide details otherwise I can't help.

[2018-03-16 09:29] meghjoshi commented on #214
Run this command

`echo fs.inotify.max_user_watches=582222 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`

[2018-03-16 09:30] meghjoshi commented on #731
Run this command

`echo fs.inotify.max_user_watches=582222 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`

[2018-03-16 15:21] mariocasciaro opened #1296 "up on nodemon restart"
- `nodemon -v`:
- `node -v`:
- Operating system/terminal environment:
- Command you ran:

### Expected behaviour

### Actual behaviour

### Steps to reproduce

---

If applicable, please append the `--dump` flag on your command and include the output here **ensuring to remove any sensitive/personal details or tokens**.

[2018-03-16 15:21] #1296 closed

[2018-03-16 15:22] mariocasciaro commented on #1296
Sorry, my mistake.

[2018-03-18 19:03] ThisIsMissEm opened #1297 "Idea: Don't start, just watch if file doesn't exist"
I'm building a new project where the server is compiled with webpack, consequently, `build/server.js` doesn't actually exist until webpack has done the first build. On the first run, the following error is produced:
[code]

It might be an idea to actually test "does the supplied file actually exist?" before trying to run the `--exec`, I'm using:

[code]

The reason for using `--watch` and `--exec`

[2018-03-18 19:19] ThisIsMissEm commented on #1297
Here's the full setup if you'd like to play around with it: https://github.com/Unobvious-Technology/privatepatrons/commit/2c420efeef7b621e1b8a33574df903dfc0bab102

Just doing `yarn` and `yarn start:dev` will get you the working server and you'll see what I mean.

[2018-03-19 13:07] ahmdsolmn commented on #214
Another possible solution is to add a `nodemon.json` configuration file in your root folder and specify ignore patterns for example:
`nodemon.json`
[code]
- Note that by default `.git`, `node_modules`, `bower_components`, `.nyc_output`, `coverage` and `.sass-cache` are ignored so you don't need to add them to your configuration.

[2018-03-20 09:27] vinayodela commented on #1295
Hi i was facing the same issue can you please help me...

[2018-03-20 09:58] remy commented on #1295
Again, without any details, no: I can't help.

I'll close this issue in 48 hours if no one gives me details on how to replicate. I can't guess fixes I'm afraid.

[2018-03-20 12:34] 24984388vaneeden commented on #1295
C:\Users\VANEEDN1\Desktop\Test>node app.js
module.js:549
    throw err;
    ^

Error: Cannot find module 'C:\Users\VANEEDN1\Desktop\Test\app.js'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Function.Module.runMain (module.js:693:10)
    at startup (bootstrap_node.js:188:16)
    at bootstrap_node.js:609:3

I am also currently faci

[2018-03-20 13:24] remy commented on #1295
@24984388vaneeden your issue has nothing to do with nodemon. I can't help.

[2018-03-20 14:49] 24984388vaneeden commented on #1295
Thank you anyway

On Tue, 20 Mar 2018, 3:24 PM Remy Sharp, <notifications@github.com> wrote:

[2018-03-20 16:51] schmendrick commented on #1124
on windows 7, i fixed the problem by going to
C:\Users\my.username\AppData\Roaming\npm and deleting the node_modules folder. afterwards i could run "npm install" without problems.

using

node v9.8.0
npm  v3.5.3

[2018-03-21 00:03] MattSidor commented on #1294
Can you give us any more information other than "not working"? For example, what symptoms do you observe that indicate it is not working? Are there any error messages?

[2018-03-21 04:54] lsimmons2 opened #1298 "failed to start process, "source" exec not found"
I'm editing a bash file and want to monitor it and source it whenever it changes, but nodemon is not able to run the source command.

`file_im_editing.sh`

    #!/bin/bash

    function_im_editing(){
        echo "sup?"
    }

`nodemon --exec source ./file_im_editing.sh`

gives:

    [nodemon] 1.17.2
    [nodemon] to restart at any time, enter `rs`
    [nodemon] watching: *.*
    [nodemon] startin

[2018-03-21 07:24] remy commented on #1298
Is there a version of nodemon where this ever worked (ie. Is it a regression)?

[2018-03-21 10:05] darky commented on #1294
Not working restart via watching files. No error messages

[2018-03-21 21:40] lsimmons2 commented on #1298
Doesn't look like it. Versions 1.12.1 and 1.0.0 give:

    ~$ nodemon --exec source file_im_editing.sh
    [nodemon] 1.12.1
    [nodemon] to restart at any time, enter `rs`
    [nodemon] watching: *.*
    [nodemon] starting `source file_im_editing.sh`
    sh: 1: source: not found
    [nodemon] failed to start process, "source" exec not found
    events.js:165
          throw err;
          ^
    E

[2018-03-22 04:06] lovett commented on #1282
I took a closer look at the signal that is sent when the terminal session closes, and it turned out to be `SIGHUP` rather than `SIGTERM`.

I used the `kill.d` utility, which uses DTrace and available by default on macOS as far as I can tell. With that running in one session and nodemon running in a second session, closing the terminal window registers as a `HUP` and not a `TERM`. If I send a `TERM

[2018-03-22 15:35] dmk255 commented on #1240
I've been having trouble using globs even with quotes - I would love for the docs to be updated

[2018-03-22 17:10] mlucool opened #1299 "Opt out of postinstall"
Hi,

I completely get why you would want something that you know some people see, but it has interfered with things that parse output. I am seeing the use of the postinstall step growing in a large number of libraries. To help with this (especially in CI), what do you think about something like putting `NODE_NO_SUPPORT_MESSAGE=true` in your environment to opt out? Since this is explicit, you know

[2018-03-22 19:21] remy commented on #1299
Firstly, you're using freeware, so it comes with the software.

More importantly, I've put down a proposal for how this should and could be handled (storing a token similarly to update notifier) and yet no one has sent a PR to implement.

Closing (again) in lieu of that PR.

[2018-03-22 19:21] #1299 closed

[2018-03-22 19:22] remy commented on #1299
(sorry if I sound tetchy, it's not the first time this kind of discussion has come up!)

[2018-03-22 19:24] mlucool commented on #1299
I understand @remy. Do you have a link to the proposal?

[2018-03-22 20:33] gavinaiken commented on #1294
Experiencing the same. nodemon process seems to go to 100% and doesn't restart after a file change, or sometimes does but only after an extremely long delay. (On OSX, node 8.9.4, nodemon 1.17.2). Reverting to 1.17.1 fixes the issue.

[2018-03-22 21:59] #1278 closed

[2018-03-22 22:30] remy commented on #1240
@dmk255 a pull request will get you further than love. True code fact.

[2018-03-22 22:35] remy commented on #1299
It was this (in a locked and closed issue):

I think looking at how update notifier works would benefit from using the same package for state storage too.

[2018-03-22 22:49] joshuajoconnell opened #1300 "No response, cannot use -v -h etc."
I have an issue where I cannot get 'nodemon -v' or 'nodemon -h' or any response out of any nodemon command except 'command not found'.

installed with sudo npm install -g nodemon
installation completes with no errors reported

I am using bash, I have un-installed it and re-installed it multiple times. I tried to install it globally and locally neither have worked. I have uninstalled and re-install

[2018-03-24 08:55] remy commented on #1300
It seems more like nodemon isn't on your path somehow.

Can you test and post the output from `which nodemon`. This is what I get:

[code]

[2018-03-24 08:56] remy commented on #1294
@gavinaiken are you working with typescript too or is this a simple hello world script ala `require('http').createServer((req, res) => res.end('ok')).listen(8000)`?

[2018-03-24 09:18] remy commented on #1282
Can you try running nodemon with the following:

[code]

This tells nodemon to use `SIGHUP` to restart your child process, but in addition, it listens for `SIGHUP2` to trigger restarts - which, _might_ circumvent the issue you're seeing.

[2018-03-24 15:34] gavinaiken commented on #1294
No, not working with typescript, just javascript. I'm using `gulp-nodemon` with a gulp task to re-run mocha tests. I've been using the same setup for a couple of years, it has always worked well until this version of nodemon. Here's the gulp task:

[code]

It's watching a couple of thousand files, we have quite a big project across a bunch of modules.

[2018-03-24 15:42] Janpot commented on #1244
Relevant discussion on OC CLI repo: https://github.com/opencollective/opencollective-cli/issues/7

[2018-03-25 12:52] mAmged commented on #761
+1

[2018-03-26 09:00] MWalid commented on #1124
Hello, why don't you try:

    rm -rf node_modules
    npm install

[2018-03-26 10:01] #1280 closed

[2018-03-27 17:35] joshuajoconnell commented on #1300
So sorry for the delay. When I run which nodemon I get no response, just a new command line loads ready for a new command.

[2018-03-27 18:55] remy commented on #1300
This means it's not installed, or its installed in a place your command line can't find.

[2018-03-27 20:33] starfilledjar opened #1301 "nodemon and set DEBUG won't work"
Hello,

I'm very new to nodejs, and thus nodemon as well. I'm on a windows machine, and when I try having the following start script in my package.json I get the subesquent error:

package.json
`  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "start": "set DEBUG=app:* & nodemon app.js",
    "lint": "eslint app.js"
  }`

error:

      throw er; // Unhandled 'error' eve

[2018-03-27 21:38] remy commented on #1301
The error suggests that your server is already running, but it does seem odd that without nodemon it runs fine.

I'll try to test with my windows machine some point. Are you using the CMD.exe prompt?

[2018-03-27 22:30] starfilledjar commented on #1301
If by 'using the CMD.exe prompt' you mean: am I running this through command line using npm start. The answer is yes. If not, I might be too beginner to even understand the question, heh.

[2018-03-28 01:07] Create-Peace opened #1302 "how to Specify the version of nodejs"
I have installed nodejs v8.4.0 and v9.8.0. how to Specify the version of nodejs

[2018-03-28 04:14] debuc commented on #1292
This issue is still there in latest nodemon. Are you planning to fix it?

[2018-03-28 07:01] remy commented on #1292
Not sure about "planning", but yeah, I don't want open bugs. Your PR doesn't do anything, and doesn't even touch the line in question. Maybe update that instead and include a test?

[2018-03-28 07:12] remy commented on #1302
Either use nvm, or install node as a local dep.

[2018-03-28 07:12] #1302 closed

[2018-03-28 07:14] remy commented on #1301
No, I mean, which program are you using to get to the command line. Frustratingly, Windows offers about 5 different kinds of command prompt, each have an effect on how commands run. As screenshot would be the fastest way to be sure.

[2018-03-28 12:02] starfilledjar commented on #1301
Oh, I am using VS Code. The weird thing is...I came in to work this morning and gave it a try, all the same stuff, in VS Code, and now it's working. I'm not sure what changed between yesterday afternoon and this morning, but I think it was probably something I was doing on my side, since I'm new to all of this. I appreciate you taking the time to look into it and respond to me though.

[2018-03-28 14:10] capaj commented on #702
@Nnanyielugo I had it today. I think it occured because I had a "zombie" nodemon process running in the background which was fighting with the one I had in my console. Try restarting your computer.

[2018-03-28 14:24] capaj opened #1303 "Feature request-detect already running nodemon and be able resolve the conflict by killing it"
There is quite a few issues here where people are claiming that they are getting `EADDRINUSE` error. There's even open one right now with the tag "can't replicate" . IMHO most of those people experienced two nodemon instances running in a single directory and both fighting each other making it very confusing. I had this happened today and lost couple hours on it debugging anything related to proce

[2018-03-28 20:25] brianpatrickhummel commented on #1247
Hey al - @remy ,

Node 8.3.0
nodemon 1.12.1
Mac OS X 10.12.6

I'm having the same issue and it also seems to be isolated to one particular project.
I'll run `nodemon index.js` and will receive a `Error: listen EADDRINUSE :::5000`after having saved changes to a file, and _never_ after manually issuing **rs**.

I will `lsof -i tcp:5000` and kill the PID but the issue always recurs. I also had **Conc

[2018-03-29 06:31] remy commented on #1303
Just for clarity, that isnt the problem that they've outlined. It's that nodemon restarts leaving the original child running.

But also, I think this approach has multiple problems: firstly, most importantly: how? Also, running two nodemon's doing the exact same task, seems more like an edge case, and what's more likely is that you're running two to perform two separate tasks.

I appreciate you go

[2018-03-29 06:31] #1303 closed

[2018-03-29 06:33] remy commented on #1247
@brianpatrickhummel  can you share index.js here in a gist so I can try to replicate?

[2018-03-29 06:34] remy commented on #1301
No problem.

[2018-03-29 06:34] #1301 closed

[2018-03-29 06:35] remy commented on #1281
I've got a PR for this, but it's failing tests, so it's on the back burner for the time being.

[2018-03-29 07:08] brianpatrickhummel commented on #1247
@remy

<script src="https://gist.github.com/brianpatrickhummel/2f36936a3d3790829a718a9021516ca2.js"></script>

[2018-03-29 13:45] remy commented on #1247
@brianpatrickhummel huh, okay, not going for replicable then I guess! :) (i.e. you've got a bunch of deps that I don't have access to, to be able to replicate).

Let's try another tack. @brianpatrickhummel since you're able to consistently replicate, can you run your application **without** nodemon - but exactly as nodemon would run the script.

Then once it's running, find it's process ID, and se

[2018-03-29 14:45] brianpatrickhummel commented on #1247
I started the app (3) times with `node index.js`, executed `kill -USR2 <PID>` and the Node process exited successfully each time.

I then started the app (3) times with `npm run dev` which makes use of the **concurrently** module however I changed the **dev** start dscript to execute `npm run start` rather than a **nodemon** command `"dev": "concurrently \"npm run start\" \"npm run client\""`.  I

[2018-03-29 20:35] brianpatrickhummel commented on #1247
After loads of troubleshooting, I recloned my project from remote repo and the issue is no longer occurring.

[2018-03-30 10:04] remy commented on #1247
Excellent. Some progress finally. Without checking concurrently's source, I'm going to guess they're trapping the SIGUSR2 that's being sent.

If you try your original nodemon setup, but pass it a flag of `--signal SIGINT` - can you replicate the issue?

[2018-03-30 22:39] TheDom1 opened #1304 "zsh: command not found"
- `nodemon -v`: couldn't get it installed
- `node -v`: 9.9.0
- Operating system/terminal environment: MacOS, ZSH
- Command you ran: sudo npm i -g nodemon

### Expected behaviour
Installation to make use of nodemon functionality in project

### Actual behaviour
zsh: command not found: nodemon

### Steps to reproduce
sudo npm i -g nodemon
zsh: command not found: nodemon

---

If applicable, please a

[2018-03-31 06:41] remy commented on #1304
Reinstall node (which will reinstall npm and restore your paths which I'm guessing are wrong).

[2018-03-31 06:41] #1304 closed

[2018-03-31 06:42] remy commented on #1300
Reinstall node (which will reinstall npm and restore your paths which I'm guessing are wrong).

[2018-03-31 06:42] #1300 closed

[2018-03-31 06:45] remy commented on #1297
Out of interest, what does node do if you pass it a non existent file? (Can't test myself right now - got a self inflicted ban on the laptop over the long weekend! 🙂)

[2018-03-31 06:48] remy commented on #1294
Can you replicate with nodemon directly (by removing the nodemon-gulp?) Just to rule it out?

[2018-03-31 07:39] remy commented on #1292
Okay, I've finally worked out that this **only** applies when you run node from the repl. Rather than from any require - which is why none of my tests broke.

[2018-03-31 07:42] remy commented on #1297
Broke my embargo!

[code]

I _think_ it makes more sense to be consistent with the executing process.

I wonder if you used the `--on-change-only` flag when starting nodemon, whether it would mitigate the thrown error you're seeing?

[2018-03-31 07:52] #1292 closed

[2018-03-31 07:58] remy commented on #1294
Also, I doubt if it's related, but I've released a small bug fix at 1.17.3

[2018-03-31 13:26] TheDom1 commented on #1304
That also has not fixed the issue.

[2018-03-31 14:56] remy commented on #1304
I think this is an npm problem on your machine, and not specific to nodemon. I suggest raising with npm as they'll be able to help you diagnose.

[2018-04-01 15:45] ThisIsMissEm commented on #1297
I'd have to test this later, but I don't think so. Because you also want the server to start straight away if it can.

[2018-04-02 00:16] suresh-anumolu commented on #1029
Looks like Malware bytes blocking some of npm installation folders, pausing the antivirus should help in some of the cases

[2018-04-02 10:27] darky opened #1305 "nodemon 1.17.3 infinite watch node_modules folder"
- `nodemon -v`: 1.17.3
- `node -v`: 9.10.1
- Operating system/terminal environment: Arch linux 4.15.13
- Command you ran: nodemon -e ts,js,tsx,jsx,jade --inspect=9229 ./bin/www

### Expected behaviour
Not watch node_modules folder, because it not exist in *nodemon.json*

### Actual behaviour
Nodemon try to watch node_modules folder and do it infinitely on same locations

### Steps to reproduce

--

[2018-04-02 10:28] darky commented on #1294
On 1.17.3 I have this blocker https://github.com/remy/nodemon/issues/1305

[2018-04-03 11:33] eugeniipol commented on #1295
@vinayodela May be the way to your folder is incorrect, faced with same problem, because had forgotten to change way in CMD.

[2018-04-03 17:31] gavinaiken commented on #1294
Yes I can reproduce it with just the nodemon command, along these lines:
[code]

I see the problem (using the above command) with 1.17.2 and 1.17.3 but not with 1.17.1

[2018-04-03 18:05] gavinaiken commented on #1294
Trying to narrow down what change has caused the problem. Comparing versions https://github.com/remy/nodemon/compare/v1.17.1...v1.17.2 it seems most of the changes are in `lib/monitor/watch.js`, and if I copy that file from 1.17.1 and use it with 1.17.2 I do not observe the problem. So it's definitely one of the changes in there.

[2018-04-03 19:24] gavinaiken commented on #1294
Starting to get to the bottom of the issue. Looks like we have been using `nodemon` incorrectly for a long time, but it was working anyway, although not doing exactly what we thought it was doing. The recent change has broken that behaviour.

In more detail - we have always passed a glob pattern as the watch argument. Reading the README I see that it says not to do that, but to pass directories in

[2018-04-04 00:59] #1291 closed

[2018-04-04 01:26] lovett commented on #1282
Listening for `SIGHUP2` has resolved the problem. Use of the `--signal` argument has allowed the nodemon parent process to fully exit when intended, both for the with-tmux and without-tmux scenarios.

Thanks for the help.

[2018-04-04 01:26] #1282 closed

[2018-04-04 07:31] capaj opened #1306 "use a comma as extension separator in the config file as it is in the CLI"
for some reason when configuring extensions to be watched in a config file, nodemon accepts input like this: `js json` but when inputting same thing over CLI, it accepts it like: `js, json`

why this discrepancy? Could this be unified?

[2018-04-04 07:52] remy commented on #1306
Actually, `js, json` isn't valid on the command line. These are:

- `js,json` (no space)
- `"js json"
- `"js, json"

It's to catch mistakes by the user. But you _can't_ use `--ext js json` on the command line because it doesn't know when the options to `ext` have finished, so it needs to be a discrete string.

[2018-04-04 07:52] #1306 closed

[2018-04-04 08:11] capaj commented on #1306
I know how bash works, thanks for pointing it out, but I still think it would be nicer if it was always just comma separated-on CLI and in the config file.

[2018-04-04 08:12] remy commented on #1294
I'm still trying to digest this detail, but for reference, the _main_ change in `watch.js` is this line:

[code]

Which, as subtle as it looks, does have a fairly significant impact.

@gavinaiken are you able to replicate with a simpler project? I've got an issues repo that I test against which if I can replicate too, I should be able to fix (I've seen this similar issue in the past, and it's alwa

[2018-04-04 12:43] maxfrigge commented on #878
In case anyone else needs it :)

This works: `nodemon --exec 'node -r dotenv/config' dist/server.js dotenv_config_path=config.env`

[2018-04-05 09:17] remy commented on #1298
@stalebot hold off.

@lsimmons2 I don't know for certain, but I think this is a system level problem that node can't spawn `source` to run the command. Oddly I _can_ spawn source on a mac.

A comparable test would be to use `source` in an npm script to see if `npm run X` is able to spawn the command?

[2018-04-05 11:54] gavinaiken commented on #1294
Yes I just replicated with a very simple project. It seems that problem only shows up if you have nodemon watching a parent directory. We have a monorepo with lots of npm modules in a directory which is managed by git. With the glob problem I described above, we were watching the parent dir which contains all the modules (which is more or less what we want to do anyway), and when you do that it se

[2018-04-06 10:45] hhaifa commented on #1295
@24984388vaneeden  I have exactly the same problem did you find a solution please ...when in install th npm  on my vps ubuntu 14 he show err that he don't found module  Cannot find module './app/controllers/pays'

[2018-04-07 02:06] SpawnTree opened #1307 "nodemon keeps restarting on file changes. Race conditions"
- `nodemon -v`:
- `node -v`:
- Operating system/terminal environment:
- Command you ran:
nodemon run.js -w run.cpp

### Expected behaviour

### Actual behaviour

### Steps to reproduce

---

If applicable, please append the `--dump` flag on your command and include the output here **ensuring to remove any sensitive/personal details or tokens**.

[2018-04-07 02:07] SpawnTree commented on #1307
[code]
My run.js file.

[2018-04-07 02:10] SpawnTree commented on #1307
[code]
nodemon keeps starting even before the compilation is done completely. Sice the file ```run.exe``` changes during compilation nodemon resatrts. It is a race condition. Is there any way to get around. Any way to lock the file/process and then restart automatically after some time. I have used ```--delay ``` option but it is of no use.

[2018-04-07 02:11] SpawnTree commented on #1307
[code]

[2018-04-07 07:11] maevadevs opened #1308 "Vulnerability for Prototype pollution attack found"
- `nodemon -v`: 1.17.3
- `node -v`: v8.11.1
- Operating system/terminal environment: OSX 10.13.3 / Terminal & iTerm
- Command you ran:
  - Install global `nsp`: `npm i -g nsp`
  - cd into the nodemon module folder: `cd [...]/.nvm/versions/node/v8.11.1/lib/node_modules/nodemon`
  - Run security check: `nsp check`

### Expected behaviour
(+) No known vulnerabilities found

### Actual behaviour
(+) 1

[2018-04-07 07:55] remy commented on #1308
Dupe. Please search issues for my original response

[2018-04-07 07:55] #1308 closed

[2018-04-07 07:58] remy commented on #1307
Change to use `-e cpp` instead of trying to watch a single file. Also, you could try the delay flags (see `nodemon --help options`)

[2018-04-07 23:52] arei opened #1309 "Restarts on Atom file open"
May be related to #1307

- `nodemon -v`: 1.17.3
- `node -v`: 8.9.1
- Operating system/terminal environment: Windows 10, Batch file
- Command you ran: nodemon -V --watch ../Common.Node -- watch ./src --ext js.json,ts --ignore ../Common.Node/node_modules

### Expected behaviour

Opening a file in Atom should not cause nodemon to fire a restart.

### Actual behaviour

Opening a file in Atom causes no

[2018-04-08 07:39] remy commented on #1309
What's causing `..\Common.Node\APIServer\src\AbstractController.js` to change?

[2018-04-08 15:25] DGolubets opened #1310 "Starting unexisting (yet) script fails"
- `nodemon -v`: 1.17.3
- `node -v`: 8.9.3
- Operating system/terminal environment: Windows 10/powershell
- Command you ran: nodemon target/build/main/server.js

### Expected behaviour
It should fail to find the file, then eventually pick it up and restart.

### Actual behaviour
It starts watching "main" script from package.json or fails if there is none.

### Steps to reproduce
Should be always re

[2018-04-09 06:58] remy commented on #1310
Dupe of #1297. This is really a feature request and I'd consider a PR for it.

[2018-04-09 06:58] #1310 closed

[2018-04-09 10:51] prosunil commented on #1295
What should I do when getting following issue :

C:\Users\Sunil\Documents\Angular\ng5crud>node server
module.js:549
    throw err;
    ^

Error: Cannot find module 'cookie-parser'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (C:\

[2018-04-10 08:25] hatedMe opened #1311 "The console will output unlimited logs."
- `nodemon -v`: 1.173
- `node -v`: 8.9.4
- Operating system/terminal environment:  windows 8.1
- Command you ran:  cmd

### Expected behaviour
[nodemon] restarting due to changes...
[nodemon] starting `node index.js`
45
[nodemon] clean exit - waiting for changes before restart

### Actual behaviour
The actual situation is that the console will output unlimited log.

### Steps to reproduce
[code]

[2018-04-10 12:59] tb91 commented on #310
Hi guys,
some time has passed and I was wondering if there is a suitable solution for this now?
Regards,
Tim

[2018-04-11 05:25] haits293 commented on #602
@immoksh I tried, and my situation is,
I did install `nodemon` by `npm i -g nodemon`
when I check with `npm list -g`, I can see nodemon sit there, but still can't use nodemon to start server
my temporary solution is install nodemon locally inside the project
`npm i --save nodemon`
then I change in package.json
`"start": "node_modules/.bin/nodemon app.js"`

[2018-04-11 07:27] remy commented on #1307
Which file are you actually editing? The run.js or the run.cpp?

[2018-04-11 17:05] arei commented on #1309
A more detailed test...

1). Create and enter a new directory: `nodemon-test`
2). Create a `package.json` in it.
[code]

3). Installed nodemon into it: `npm install nodemon`
4). Create `test.js`
[code]

5). Create `runme.bat`
[code]
6). Open Atom.
7). Create a project for nodemon-test.
8). Execute `runme.bat` from DOS.
9). Watch it run for a second. Very exciting.
10). In Atom, locate the `test_fi

[2018-04-11 17:05] arei commented on #1309
Thinking about the last line above, I wonder if nodemon and whatever is doing the file watching in atom is in some sort of contest when the watch begins... Just musing though.

[2018-04-12 11:02] RobinCK opened #1312 "Implement support dot env file"
- `nodemon -v`:
- `node -v`:
- Operating system/terminal environment:
- Command you ran:

### Expected behaviour
add setting `env_file` in config file (nodemon.json)

[code]

Thanks

[2018-04-12 12:37] markonyango commented on #1305
I have the same issue. My --dump output is as follows:
`[nodemon] 1.17.3
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: *.*
--------------
node: v9.8.0
nodemon: 1.17.3
command: /usr/bin/node /home/mark/.npm-global/bin/nodemon --dump bin/www
cwd: /home/mark/Dokumente/quasi-express
OS: linux x64
--------------
{ run: false,
  system: { cwd: '/home/mark/Dokumente/test' },
  required

[2018-04-12 12:53] markonyango commented on #1305
I may already have a solution to this: I run VS Code to edit my files. Although my local settings force VS Code to not watch node_modules (file-watcher), it seems to ignore my settings. Once I close VS Code I can run nodemon again, no issues whatsoever. When I open it again, I can't run nodemon from neither the internal console of VS Code nor Ubuntus terminal.
It would seem that the latest version

[2018-04-12 13:38] markonyango commented on #1305
For now check out the link to see my "fix". I really don't want to mess with sysctl and I believe this to not be an issue of nodemon but of VS Code unless OP says this is VS Code unrelated (i.e. he doesn't use it).

[2018-04-12 13:44] hugoduraes commented on #1305
This is happening for me as well and I don't use VS Code. As a workaround, I've added `node_modules` to `.nodemodignore` file.

[2018-04-12 20:42] arei commented on #1309
I also find this is compounded by multiple nodemon processes watching common directories when atom is running.  If I start a second nodemon, for example, it fires a whole slew of restarts immediately. (Below is just a small example of the number of restarts triggered.) No action on the user is needed, just starting a second process while atom is running. The first, original, nodemon process also t

[2018-04-12 20:43] arei commented on #1309
I wonder if the act of watching a file somehow changes it. So if Atom starts watching a file (triggered by opening said file) it causes some changes that nodemon restarts on. Likewise, if I start the second nodemon process, that triggers other nodemon processes of changes...

[2018-04-13 05:07] danielo515 commented on #1025
I am also experiencing this on one of the latest versions of nodemon:1.17.3

[2018-04-13 19:00] hiro5id opened #1314 "unmet dependency errors with nodemon installed"
- `nodemon -v`:

- `node -v`:
v9.11.1
- Operating system/terminal environment:
Linux Bash
- Command you ran:
npm list

### Expected behaviour
list dependencies without any errors

### Actual behaviour
Numerous errors appear regarding "missing" dependencies and "unmet dependency".  This is causing the "npm list" command to exist with a non successful error code.  In our build pipeline this causes o

[2018-04-13 21:35] remy commented on #1314
Can't make head nor tail of this output.

Also, pretty sure you installed nodemon so the deps come as is. If they're unmet *optional* deps, firstly, they're deep, and not direct descendants of nodemon, but more importantly, they're *optional* so - without anything more to go on - I'd say the test you're using needs updating.

Will reopen if there's something that nodemon repo can do.

[2018-04-13 21:35] #1314 closed

[2018-04-13 21:36] remy commented on #1312
Env loading should be separate, and won't be part of nodemon.

I use @remy/envy. Pick your own poison.

[2018-04-13 21:36] #1312 closed

[2018-04-13 21:38] remy commented on #1305
@darky you haven't included the nodemon.json file you're using. Can you do so, so I can attempt to replicate?

[2018-04-14 18:25] marxenegls opened #1315 "[warn] fsevents optional depends on Unsupported platform"
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.1.3 (node_modules/nodemon/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})

- `nodemon -v`: 1.17.3
- `node -v`: v8.9
- Operating system/terminal environment: linux x64 Debian stretch
- Command you ran: np